{% extends "layout.html.twig" %}


{% block body %}

    <div class="text-center" style = "padding-top: 78px;">
        <img src="Images/logo.png" alt="..." height="250px">
      </div>

      <!-- About Us -->
      <div class="card bg-transparent text-white rounded-0 border-0">
        <img src="Images/AboutUs_bg.png" alt="..." width="100%">
        <div class="card-img-overlay">
          <div class="card border-0 rounded-0 shadow about-item" style="width:50%; background-color:rgba(256, 256, 256, 0.5); top: 37%; left: 5%;" data-toggle="modal" data-target="#aboutModal1">
            <div class="card-body">
              <h3 class="card-title text-center">About Us</h3>
              <p class="card-text">
                <b>Advise'Hack</b> is a platform that gives the opportunity to any enterprise to look for any vulnerabilities that my be laying in her systems and, eventually, repairing them. 
              </p>
            </div>
          </div>
        </div>
      </div>

    <!-- About Modal -->
    <div class="about-modal modal fade" id="aboutModal1" tabindex="-1" role="dialog" aria-labelledby="aboutModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <div class="modal-body text-center">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- About Modal - Title-->
                              <h2 class="text-secondary mb-0" id="aboutModal1Label">More about us</h2>
                              <!-- About Modal - Text-->
                              <div class="card-text" style="margin-top:50px;">

                                <div class="row">
                                  <h5 style="color:#9D151C; margin-bottom:20px;">Advise'Hack is the one for you</h5>
                                </div>
                                
                                <div class="row justify-content-center">
                                  <div class="col-lg-4">
                                    <div class="card border-0 text-center" style="width:200px; height:200px; padding:-20px;">
                                      <div class="row justify-content-center">
                                        <img src="Images/team.png" alt="..." class="card-text text-center" style="width:30%; height:30%; margin-bottom:10px;">
                                      </div>
                                      <div class="row justify-content-center">
                                        <div class="card-text text-center" style="color:#9D151C; font-weight:bold;">
                                          Trust
                                        </div>
                                        <div class="card-text text-center text-dark">
                                          Our security system garanties the confidentiality of your data.
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="card border-0 text-center" style="width:200px; height:200px; padding:-20px;">
                                      <div class="row justify-content-center">
                                        <img src="Images/flexible.png" alt="..." class="card-text text-center" style="width:30%; height:30%; margin-bottom:10px;">
                                      </div>
                                      <div class="row justify-content-center">
                                        <div class="card-text text-center" style="color:#9D151C; font-weight:bold;">
                                          Flexibility
                                        </div>
                                        <div class="card-text text-center text-dark">
                                          Our offers not only suit your needs, but also your means. Whatever the size of your enterprise is, Advise'Hack is here for you. 
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="card border-0 text-center" style="width:200px; height:200px; padding:-20px;">
                                      <div class="row justify-content-center">
                                        <img src="Images/personal.png" alt="..." class="card-text text-center" style="width:30%; height:30%; margin-bottom:10px;">
                                      </div>
                                      <div class="row justify-content-center">
                                        <div class="card-text text-center" style="color:#9D151C; font-weight:bold;">
                                          Skills
                                        </div>
                                        <div class="card-text text-center text-dark">
                                          We make sure that our hackers are highly skilled in order to provide you with the best services.
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row justify-content-center" style="margin-top:30px;">
                                  <div class="col-lg-4">
                                    <div class="card border-0 text-center" style="width:200px; height:200px; padding:-20px;">
                                      <div class="row justify-content-center">
                                        <img src="Images/good.png" alt="..." class="card-text text-center" style="width:30%; height:30%; margin-bottom:10px;">
                                      </div>
                                      <div class="row justify-content-center">
                                        <div class="card-text text-center" style="color:#9D151C; font-weight:bold;">
                                          Easy to use
                                        </div>
                                        <div class="card-text text-center text-dark">
                                          Our platform is created in a way that makes its features very accessible and easy to use. 
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  
                                  <div class="col-lg-4">
                                    <div class="card border-0 text-center" style="width:200px; height:200px; padding:-20px;">
                                      <div class="row justify-content-center">
                                        <img src="Images/evolution.png" alt="..." class="card-text text-center" style="width:30%; height:30%; margin-bottom:10px;">
                                      </div>
                                      <div class="row justify-content-center">
                                        <div class="card-text text-center" style="color:#9D151C; font-weight:bold;">
                                          Continuous evolution
                                        </div>
                                        <div class="card-text text-center text-dark">
                                          Our platform is also a way for the hackers to compete, learn and share knowledge with each other. 
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>


                                <div class="row justify-content-start" style="margin-top:60px;">
                                  <h5 style="color:#9D151C; margin-bottom:30px;">The people behind the screen</h5>
                                </div>

                                <div class="row justify-content-start">
                                  <div class="col-sm-2">
                                    <div class="card shadow border-0" style="width:120px; height:120px; padding:-20px;">
                                      <img src="Images/hackersphotos/1a8b2d0f316d3d6f31411b896c6c206e.png" alt="..." class="card-text" style="width:100%;">
                                    </div>
                                  </div>
                                  <div class="col-5">
                                    <div class="card border-0 text-left" style="height:120px; width:400px;">
                                      <div class="card-text" style="font-weight:bold; color:#9D151C; margin-left:20px;">
                                        Imane El Moul
                                      </div>
                                      <div class="card-text text-dark" style="margin-left:20px;">
                                        Bla bla bla
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row justify-content-end" style="margin-top:30px;">
                                  <div class="col-sm-2">
                                    <div class="card shadow border-0" style="width:120px; height:120px; padding:-20px;">
                                      <img src="Images/hackersphotos/1a8b2d0f316d3d6f31411b896c6c206e.png" alt="..." class="card-text" style="width:100%;">
                                    </div>
                                  </div>
                                  <div class="col-4">
                                    <div class="card border-0 text-left" style="height:120px; width:400px;">
                                      <div class="card-text" style="font-weight:bold; color:#9D151C; margin-left:20px;">
                                        Hicham Rahj
                                      </div>
                                      <div class="card-text text-dark" style="margin-left:20px;">
                                        Bla bla bla
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row justify-content-start" style="margin-top:30px;">
                                  <div class="col-sm-2">
                                    <div class="card shadow border-0" style="width:120px; height:120px; padding:-20px;">
                                      <img src="Images/houda.jpeg" alt="..." class="card-text" style="width:100%;">
                                    </div>
                                  </div>
                                  <div class="col-5">
                                    <div class="card border-0 text-left" style="height:120px; width:400px;">
                                      <div class="card-text" style="font-weight:bold; color:#9D151C; margin-left:20px;">
                                        Houda Berrada
                                      </div>
                                      <div class="card-text text-dark" style="margin-left:20px;">
                                        Financial ingineering student in her final school year. <br>
                                        <i><b>"</b>This whole project was a novelty for me, which made it even more fascinating and made</i> me <i>even more eager to learn and document myself about everything.<b>"</b></i>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row justify-content-end" style="margin-top:30px;">
                                  <div class="col-sm-2">
                                    <div class="card shadow border-0" style="width:120px; height:120px; padding:-20px;">
                                      <img src="Images/hackersphotos/1a8b2d0f316d3d6f31411b896c6c206e.png" alt="..." class="card-text" style="width:100%;">
                                    </div>
                                  </div>
                                  <div class="col-4">
                                    <div class="card border-0 text-left" style="height:120px; width:400px;">
                                      <div class="card-text" style="font-weight:bold; color:#9D151C; margin-left:20px;">
                                        Fatiha Ougali
                                      </div>
                                      <div class="card-text text-dark" style="margin-left:20px;">
                                        Bla bla bla
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>

                              <button class="btn-sm shadow-lg border-0 text-white" style="background-color:#9D151C; margin-top:50px;" data-dismiss="modal">
                                  <i class="fas fa-times fa-fw"></i>
                                  Close Window
                              </button>
                          </div>
                      </div>

              </div>
          </div>
      </div>
    </div>  

    <!- Services -!>
      <div class="card bg-transparent text-white rounded-0 border-0">
        <img src="Images/Services_bg.png" alt="..." width="100%">
        <div class="card-img-overlay" style = "padding : 2%;">
          <div class="card border-0 rounded-0 shadow" style="background-color:rgba(256, 256, 256, 0.5); width:100%; margin-bottom: 20px;">
            <div class="card-body">
              <h3 class="text-title text-center text-secondary">Services</h3>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="card border-0 rounded-0 shadow services-item" style="background-color:rgba(256, 256, 256, 0.5);" data-toggle="modal" data-target="#servicesModal1">
                  <div class="card-body services-item-caption">
                    <h3 class="card-title text-center services-item-caption-content" style="color:#9D151C;">Find It</h3>
                    <p class="card-text text-secondary text-center">Click to see more</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card border-0 rounded-0 shadow services-item" style="background-color:rgba(256, 256, 256, 0.5);" data-toggle="modal" data-target="#servicesModal2">
                  <div class="card-body services-item-caption">
                    <h3 class="card-title text-center services-item-caption-content" style="color:#9D151C;">Find It & Fix It</h3>
                    <p class="card-text text-secondary text-center">Click to see more</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		  </div>

    <!-- Services Modals !-->
    <!-- Services Modal 1-->
        <div class="services-modal modal fade" id="servicesModal1" tabindex="-1" role="dialog" aria-labelledby="servicesModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Services Modal - Title-->
                                    <h2 class="text-secondary mb-0" id="servicesModal1Label">Find It</h2>
                                    <!-- Services Modal - Text-->
                                    <p class="card-text text-dark">By choosing this package, you, as an enterprise, are asking hackers to detect the vulnerabilities that may eventually be in your computer system.</p>
                                    <button class="btn-sm shadow-lg border-0 text-white" style="background-color:#9D151C;" data-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- Services Modal 2-->
        <div class="services-modal modal fade" id="servicesModal2" tabindex="-1" role="dialog" aria-labelledby="servicesModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Services Modal - Title-->
                                    <h2 class="text-secondary mb-0" id="servicesModal1Label">Find It & Fix It</h2>
                                    <!-- Services Modal - Text-->
                                    <p class="card-text text-dark">By choosing this package, you, as an enterprise, are not asking hackers to detect the vulnerabilities that may eventually be in your computer system, but also to resolve them. You will therefore be guaranteed to have a perfectly safe system !</p>
                                    <button class="btn-sm shadow-lg border-0 text-white" style="background-color:#9D151C;" data-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Close Window
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

    <!- Offers -!>
      <div class="card bg-transparent text-white rounded-0 border-0 text-center">
        <div class="card-overlay" style = "padding : 2%;">

          <div class="card border-0 rounded-0 shadow" style="background-color:rgba(127, 21, 28);">
            <div class="card-body text-center">
              <h3 class="text-white">Offers</h3>
            </div>
          </div>

          <div id="carouselOffersIndicators" class="carousel slide" data-ride="carousel" style="margin-top:20px;">
            <ol class="carousel-indicators">
              {% if offers[0] is defined and offers[0]['showAuth'] == 1%}
                <li data-target="#carouselOffersIndicators" data-slide-to="0" class="active"></li>
                {% if offers[1] is defined and offers[1]['showAuth'] == 1 %}
                  <li data-target="#carouselOffersIndicators" data-slide-to="1"></li>
                  {% if offers[2] is defined and offers[2]['showAuth'] == 1 %}
                    <li data-target="#carouselOffersIndicators" data-slide-to="2"></li>
                  {% endif%}
                {% endif%}
              {% endif%}
            </ol>

            <div class="card border-0 rounded-0 shadow" style="background-color:rgba(127, 21, 28, 0.5);">
              <div class="card-body">
                <div class="carousel-inner">

                  {% if offers[0] is defined and offers[0]['showAuth'] == 1%}
                    
                        <div class="carousel-item active">
                          <h5 class="card-title text-center">
                            <a class="text-white" href="{{ url('offer_show', {'id' : offers[0]['id_offer']}) }}">{{ offers[0]['title']}}</a>
                          </h5>
                          <p class="card-text">{{ offers[0]['description1']}}</p><br>
                        </div>
                      
                    {% if offers[1] is defined and offers[1]['showAuth'] == 1%}
                      
                          <div class="carousel-item">
                            <h5 class="card-title text-center">
                              <a class="text-white" href="{{ url('offer_show', {'id' : offers[0]['id_offer']}) }}">{{ offers[1]['title']}}</a>
                            </h5>
                            <p class="card-text">{{ offers[1]['description1']}}</p><br>
                          </div>
                        
                      {% if offers[2] is defined and offers[2]['showAuth'] == 1%}
                        
                          <div class="carousel-item">
                            <h5 class="card-title text-center">
                              <a class="text-white" href="{{ url('offer_show', {'id' : offers[0]['id_offer']}) }}">{{ offers[2]['title']}}</a>
                            </h5>
                            <p class="card-text">{{ offers[2]['description1']}}</p><br>
                          </div>
                        
                      {% endif%}
                    {% endif%}
                  {% endif%}

                </div>
              </div>
            </div>

            <a class="carousel-control-prev" href="#carouselOffersIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselOffersIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

      </div>
    </div>

  <!- Blog -!>
    <div class="card text-white rounded-0 border-0 text-center" style="background-color:rgba(127, 21, 28);">
      <div class="card-overlay" style = "padding : 2%;">

        <div class="card border-0 rounded-0 shadow-lg" style="background-color:#9D151C;" >
          <div class="card-body text-center">
            <h3 class="text-white">Latest News</h3>
          </div>
        </div>

        <a href="{{ url('blog')}}">
          <button type="button" class="button shadow" style="margin-top:30px; margin-bottom:30px;">
            <span style="color:#9D151C; font-weight:bold;">Visit Our Blog</span>
          </button>
        </a>

          

        
      </div>
    </div>



{% endblock %}





