{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row" style="margin-top:140px; margin-bottom:185px">
   <div class="col-6 offset-3">
       <form method="post">
           {% if error %}
               <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
           {% endif %}
           <div class="card">
               <div class="card-body bg-light">
               <h1 class="h3 mb-3 font-weight-normal text-center">Log In</h1>
                   <div class="form-group">
                       <label for="inputEmail" class="sr-only">Email</label>
                       <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                   </div>
                   <div class="form-group">
                       <label for="inputPassword" class="sr-only">Password</label>
                       <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                   </div>
                   <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                   >
                   {#
                       Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                       See https://symfony.com/doc/current/security/remember_me.html
                       <div class="checkbox mb-3">
                           <label>
                               <input type="checkbox" name="_remember_me"> Remember me
                           </label>
                       </div>
                   #}
                   <button class="btn btn-lg btn-block shadow-sm" style="background-color:rgba(217, 217, 217);" type="submit">
                       Log in
                   </button>
               </div>
           </div>
       </form>
   </div>
</div>
{% endblock %}
