{% extends "layout.html.twig" %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    <div class="card bg-transparent border-0 align-item-center" style = "margin-top: 100px;">

        <div class="card bg-transparent mx-auto border-0" style="width:50%; margin-bottom:40px">
            <div class="col card-text d-flex justify-content-center" style="margin-bottom:20px;">
                <div>
                    <a class="p-5" href="{{ url('registerHacker') }}">
                        <button type="button" style="background-color:#9D151C;" class="btn border-0 btn-lg active text-white shadow-sm">New Hacker</button>      
                    </a>
                    <a class= "ml-auto p-5" href="{{ url('registerEnt') }}" style="color:#9D151C">
                        <button type="button" style="color:#9D151C; border-color:#9D151C; border-width:1px" class="btn btn-lg shadow-sm">New Enterprise</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">

            <div class="card card-overlay bg-transparent text-white border-0 shadow" style=" margin-bottom:20px; width:80%; padding-top:30px; padding-bottom:30px; padding-right:30px; padding-left:30px;">

                <div class="row d-flex justify-content-center">

                    {{ form_start(registrationForm) }}
                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(registrationForm.email, 'E-mail') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(registrationForm.email) }}
                            </div>
                        </div>

                         <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(registrationForm.username, 'Username') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(registrationForm.username) }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(registrationForm.plainPassword, 'Password') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(registrationForm.plainPassword) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(registrationForm.name, 'Last Name') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(registrationForm.name) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(registrationForm.f_name, 'First Name') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(registrationForm.f_name) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(registrationForm.country, 'Country') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(registrationForm.country) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(registrationForm.photo, 'Profile photo') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(registrationForm.photo) }}
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:5px;">
                            <div class="col text-dark">
                                
                            {{ form_label(registrationForm.agreeTerms, 'I have read, understood and accepted the terms of services') }}
                            {{ form_widget(registrationForm.agreeTerms) }}

                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-lg shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C;">Register</button>
                        </div>

                    {{ form_end(registrationForm) }}
                </div>

            </div>

        </div>
    </div>

{% endblock %}
