{% extends "layout.html.twig" %}

{% block javascript %}
    <script src="https://cdn.tiny.cloud/1/1r3xno60hf2olb3nwcalbv7ow89y17xu0n7a8s7fxqpztm09/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>
    <script>
    tinymce.init({
        selector: '#content',
        setup: function (editor) {
        editor.on('change', function () {
            editor.save();
        });
        }
    });
  </script>
{% endblock %}

{% block body %}
	<div style="background-image: url('/Images/TitlePattern.jpg');">
		<div class="card text-center border-0 bg-transparent shadow rounded-0" style = "margin-top:85px;">
	    	<h2 class="card-body text-white">Advise'Hack - The Blog</h2>
	  	</div>
  	</div>

    {% for message in app.flashes('message')%}
        <div class=" form-group text-center">
            <div class="alert alert-danger mx-auto" style="margin-top:5px; margin-bottom:-10px; width:40%;" role="alert"> {{message}}</div>
        </div>
    {%endfor%}

    <div class="card card-overlay bg-transparent text-white border-0 shadow mx-auto" style=" margin-bottom:20px; width:80%; padding-top:30px; padding-bottom:30px; padding-right:10px; padding-left:10px;">

        <div class="row justify-content-center" style="margin-bottom:30px; color:#9D151C;">
            <h3>New Blog Post</h3> 
        </div>
            
        {{ form_start(EditBlogPostForm) }}
            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="row text-dark" style="font-weight:bold; margin-bottom:10px;">   
                        {{ form_label(EditBlogPostForm.title, 'Title') }}
                    </div>
                    <div class="row text-dark" style="font-weight:bold; margin-bottom:10px;">   
                        {{ form_label(EditBlogPostForm.photo, 'Upload Photo') }}
                    </div>
                    <div class="row text-dark" style="font-weight:bold; margin-bottom:10px;">   
                        {{ form_label(EditBlogPostForm.content, 'Article') }}
                    </div>
                </div>
                <div class="col-7">
                    <div class="row" style="margin-bottom:10px;">
                        {{ form_widget(EditBlogPostForm.title) }}
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        {{ form_widget(EditBlogPostForm.photo) }}
                    </div>
                    <div class="row" style="margin-bottom:10px;">
                        {{ form_widget(EditBlogPostForm.content, {'id': 'content'}) }}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C; margin-top:30px;">Submit</button>
                    </div>
                </div>
            </div>
        {{ form_end(EditBlogPostForm) }}
    </div>

{% endblock %}