{% extends "layout.html.twig" %}


{% block body %}
	<div class="card text-center border-0" style = "margin-top: 85px;">
    	<h2 class="card-body">Advise'Hack - The Blog</h2>
  	</div>
	<div class="card bg-transparent border-0 align-item-center" style = "margin-bottom:30px">

		<div class="card card-overlay bg-transparent border-0" style="width:100%;">
			{% if blog_posts|length != 0 %}
		    	{% for i in range(0, blog_posts|length-1, 3) %}
		    	<div class="container" style="margin-bottom:40px;">
	            	<div class="row justify-content-center">
				    	{% for j in 0..2 %}
				    		{% if blog_posts[i+j] is defined %}
				    			<div class="col-sm-3 text-center">
				    				<div class="row justify-content-center">
				    					<div class="card bg-transparent text-center align-item-center border-0 rounded-0" style="width:150px;height:120px; padding:5px;">
					      					<img src="/Images/hackersphotos/{{ blog_posts[i+j].photo}}" alt="" class="card-img" />
					      				</div>
				      				</div>
				      				<div class="row justify-content-end">
					      				<div class="text-secondary" style="font-size:small;">{{blog_posts[i+j].date|date("m/d/Y")}}</div>
					      			</div>
					      			<div class="row justify-content-center">
					      				<a href="{{ url('blog_post', {'id' : blog_posts[i+j].idBp}) }}" class="text-secondary" style="font-size:medium; font-weight:bold; margin-top:-5px; margin-bottom:5px;">{{blog_posts[i+j].title}}</a>
					      			</div>
			      				</div>
						    {% else %}
						    	<div class="col-sm-3"></div>
						    {% endif %}
					    {% endfor %}
				    </div>
			    </div>
	    		{% endfor %} 
			{% endif %}
		</div>
	</div>		
{% endblock %}