{% extends "layout.html.twig" %}

{% block javascript %}
    <script src="https://cdn.tiny.cloud/1/1r3xno60hf2olb3nwcalbv7ow89y17xu0n7a8s7fxqpztm09/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  	<script>
    tinymce.init({
        selector: '#comment',
        setup: function (editor) {
        editor.on('change', function () {
            editor.save();
        });
        }
    });
  </script>
  <script>
    tinymce.init({
        selector: '#reply',
        setup: function (editor) {
        editor.on('change', function () {
            editor.save();
        });
        }
    });
  </script>
{% endblock %}

{% block body %}
	<div style="background-image: url('/Images/TitlePattern.jpg');">
		<div class="card text-center border-0 bg-transparent shadow rounded-0" style = "margin-top: 85px; width:100%;">
	    	<h2 class="card-body text-white">Advise'Hack - The Blog</h2>
	  	</div>
  	</div>
	  	{% for message in app.flashes('message') %} 
			<div class=" form-group text-center">
				<div class="alert alert-success mx-auto" style="margin-top:5px; margin-bottom:-10px; width:40%;" role="alert"> {{message}}</div>
			</div>
		{% endfor %}

  	<div class="card shadow border-0 mx-auto" style="width:80%; margin-top:10px; padding-right:60px; padding-left:20px; margin-bottom:30px;">
		<div class="container text-center" style="margin-top:10px; margin-bottom:40px;">
	  		<div class="row justify-content-center" style="margin-top:30px; margin-bottom:20px; color:#9D151C;">
	  			<div class="col">
  				</div>
  				<div class="col">
	  				<h3>{{post.title}}</h3>	
  				</div>
  				<div class="col">
  					<div class="row justify-content-end">
		                <a href="{{ url('edit_post', {'id' : post.idBp}) }}">
		  					<div class="btn btn-sm shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C; margin-top:10px; width:100px;">Edit Post</div>
		  				</a>
	  				</div>
	  				<div class="row justify-content-end">
		  				<a href="{{ url('delete_post', {'id' : post.idBp}) }}">
		  					<div class="btn btn-sm shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C; margin-top:10px; width:100px;">Delete Post</div>
		  				</a>
	  				</div>
  				</div>
			</div>

	  		<div class="row justify-content-center">
				<img src="/Images/hackersphotos/{{post.photo}}" height="100" alt="" class="rounded" style="width:50%; height:50%; margin-bottom:20px;" />
			</div>

			<div class="row text-secondary d-flex justify-content-end" style="font-size:small;">
				{{post.date|date("m/d/Y")}}
			</div>
			{% if post.idHacker is not null %}
				<div class="row text-secondary d-flex justify-content-end" style="font-size:small;">
					Written by &nbsp; <a href="{{ url('hacker_show', {'id' : post.idHacker.idHacker}) }}" style="color:#9D151C;"> {{post.idHacker.username}}</a>
				</div>
			{% elseif post.idEntreprise is not null %}
				<div class="row text-secondary" style="font-size:small;">
					Written by &nbsp; <a href="{{ url('entreprise_show', {'id' : post.idEntreprise.idEntreprise}) }}" style="color:#9D151C;">{{post.idEntreprise.nameEnt}}</a>
				</div>
			{% endif %}
			<div class="row justify-content-start" style="margin-left:30px;">
				<div>{{post.content|raw}}</div>
			</div>
		</div>
			<! -- ------------------------------ Comments ------------------------------ --> 
		<div class="container" style="margin-top:10px; margin-bottom:40px;">
			<div class="row justify-content-start" style="margin-left:20px;">
				<h5 class="text-secondary font-weight-bold">Comments</h5>
			</div>

			{% if app.user is not null %}	
				{{ form_start(CommentForm) }}
					<div class="row" style="margin-left:20px;">
						<a class="text-secondary font-weight-bold" style = "font-size:medium;">
						    Leave a comment
					  	</a>
					</div>
	                <div class="row" style="margin-left:20px;">
	                    {{ form_widget(CommentForm.content, {'id': 'comment'}) }}
	                </div>
	                <div class="row" style="margin-left:20px;">
	                    <button type="submit" class="btn btn-sm shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C; margin-top:10px; margin-bottom:30px;">Submit comment</button>
	            	</div>
            	{{ form_widget(CommentForm._token) }}
				{{ form_end(CommentForm, {'render_rest': false}) }}
			{% else %}
				<div class="row" style="margin-left:20px;">
					<a href="{{ url('sign_in') }}" class="text-secondary font-weight-bold" style = "font-size:medium;">
					    Log in to leave a comment
				  	</a>
				</div>
			{% endif %}

			{% if comments|length != 0 %}
		    	{% for i in 0..comments|length - 1 %}
		    		<div class="card shadow border-0 rounded-0" style="width:70%; margin-top:10px; padding-top:10px; padding-right:20px; padding-left:20px; margin-bottom:30px;">

		    			<div class="row text-secondary" style="margin-left:20px; font-size:medium;">
				    		{% if comments[i].idHacker is not null %}
			    				<a href="{{ url('hacker_show', {'id' : comments[i].idHacker.idHacker}) }}" class="font-weight-bold" style="color:#9D151C;"> {{comments[i].idHacker.username}}</a> &nbsp; says :
				    		{% elseif comments[i].idEntreprise is not null  %}
			    				<a href="{{ url('entreprise_show', {'id' : comments[i].idEntreprise.idEntreprise}) }}" class="font-weight-bold" style="color:#9D151C;"> {{comments[i].idEntreprise.nameEnt}}</a> &nbsp; says :
				    		{% endif %}
			    			<div class="text-secondary" style="margin-left:10px; font-size:medium;">
			    				<a href="{{ url('delete_comment', {'id' : comments[i].idComment}) }}" class="font-weight-bold" style="color:#9D151C;">
			    					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
									</svg>
			    				</a>
		    				</div>
	    				</div>

			    		<div class="row text-secondary" style="font-size:small; margin-left:10px;">
							{{comments[i].date|date("l d F Y")}}
						</div>
			    		<div class="row" style="margin-left:20px;">
							<div>{{comments[i].content|raw}}</div>
						</div>
						{#
						{% if app.user is not null %}
							<div class="row justify-content-end" style="margin-left:20px;">
								<div id="showit" class="text-secondary font-weight-bold" style = "font-size:medium;">
								    Reply to this answer
							  	</div>
						  	</div>
						  	<div id="replyForm" style="display:none">
							  	{{ form_start(ReplyForms[i]) }}
								  	<div class="row justify-content-end" style="margin-left:20px;">
								  		{{ form_widget(ReplyForms[i].content) }} 
								  	</div>
								  	<div class="row justify-content-end" style="margin-left:20px;">
					                    <button type="submit" class="btn btn-sm shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C; margin-top:10px; margin-bottom:30px;">Submit reply</button>
					            	</div>
				            	{{ form_end(ReplyForms[i]) }}
			            	</div>
					  	{% else %}
					  		<div class="row justify-content-end" style="margin-left:20px;">
								<a href="{{ url('sign_in') }}" class="text-secondary font-weight-bold" style = "font-size:medium;">
								    Log in to reply
							  	</a>
						  	</div>
					  	{% endif %}
						
						

						{% if replies|length != 0 %}
		    				{% for j in 0..replies|length - 1 %}
		    					{% if replies[j].idComment.idComment == comments[i].idComment %}
		    						<div class="card card-overlay border-0 rounded-0" style="width:70%; margin-top:10px; padding-right:20px; padding-left:20px; margin-bottom:10px; background-color:#D9D9D9">
							    		{% if replies[j].idHacker is not null %}
							    			<div class="row text-secondary" style="margin-left:10px; font-size:medium;">
							    				<a href="{{ url('hacker_show', {'id' : replies[j].idHacker.idHacker}) }}" class="font-weight-bold" style="color:#9D151C;"> {{replies[j].idHacker.username}}</a> &nbsp; replied :
						    				</div>
							    		{% elseif replies[j].idEntreprise is not null %}
							    			<div class="row text-secondary" style="margin-left:10px; font-size:medium;">
							    				<a href="{{ url('entreprise_show', {'id' : replies[j].idEntreprise.idEntreprise}) }}" class="font-weight-bold" style="color:#9D151C;"> {{replies[j].idEntreprise.nameEnt}}</a> &nbsp; replied :
						    				</div>
							    		{% endif %}
							    		<div class="row text-secondary" style="font-size:small; margin-left:10px;">
											{{replies[j].date|date("l d F Y")}}
										</div>
							    		<div class="row" style="margin-left:20px;">
											<div>{{replies[j].content|raw}}</div>
										</div>
						    		</div>
		    					{% endif %}
		    				{% endfor %} 
						{% endif %} #}

					</div>
		    	{% endfor %} 
			{% endif %}
		</div>
	</div>		
	<script>
		$(document).ready(function(){
		   $("#showit").click(function(){
		       $("#replyForm").css("display","block");
		   });
		});
	</script>

{% endblock %}