{{ form_start(ReplyForm) }}
	<div class="row justify-content-end" style="margin-left:20px;">
		<a class="text-secondary font-weight-bold" style = "font-size:medium;" data-toggle="collapse" href="#replyCollapse" role="button" aria-expanded="false" aria-controls="replyCollapse">
		    Reply to this answer
	  	</a>
	</div>
	<div class="collapse" id="replyCollapse">
	  	<div class="card card-body" style="margin-bottom:10px;">
                <div class="col" style="float:left;">
                    {{ form_widget(ReplyForm.reply, {'id': 'reply'}) }}
                </div>
                <div class="row">
                	<div class="text-center">
                        <button type="submit" class="btn btn-sm shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C; margin-top:30px;">Submit</button>
                    </div>
            	</div>
  		</div>
	</div>
{{ form_end(ReplyForm) }}







{% if app.user is not null %}
                            <div class="row justify-content-end" style="margin-left:20px;">
                                <div class="text-secondary font-weight-bold" style = "font-size:medium;">
                                    Reply to this answer
                                </div>
                            </div>
                            {{ form_start(ReplyForm) }}
                                <div class="row justify-content-end" style="margin-left:20px;">
                                    
                                </div>
                                <div class="row justify-content-end" style="margin-left:20px;">
                                    <button type="submit" class="btn btn-sm shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C; margin-top:10px; margin-bottom:30px;">Submit reply</button>
                                </div>
                            {{ form_end(ReplyForm) }}
                        {% else %}
                            <div class="row justify-content-end" style="margin-left:20px;">
                                <a href="{{ url('sign_in') }}" class="text-secondary font-weight-bold" style = "font-size:medium;">
                                    Log in to reply
                                </a>
                            </div>
                        {% endif %}