{% extends "layout.html.twig" %}


{% block body %}

<div class="row" style="margin-top:140px; margin-bottom:185px">
   <div class="col-6 offset-3">
       <form method="post">
          
           <div class="card">
               <div class="card-body bg-light">
               <h1 class="h3 mb-3 font-weight-normal text-center">Change Password</h1>
			   <form method= "Post">
			       {% for message in app.flashes('message')%}
						<div class=" form-group">
							<div class="alert alert-danger" role="alert"> {{message}}</div>
						</div>

					{%endfor%}
                   <div class="form-group">
                       <label for="inputEmail" class="sr-only">Email</label>
                       <input type="password" value="" name="pass0" id="inputEmail" class="form-control" placeholder="current password" required autofocus>
                   </div>
                   <div class="form-group">
                       <label for="inputPassword" class="sr-only">Password</label>
                       <input type="password" name="pass1" id="inputPassword" class="form-control" placeholder="new password" required>
                   </div>
				   <div class="form-group">
                       <label for="inputPassword" class="sr-only">confirm your password</label>
                       <input type="password" name="pass2" id="inputPassword" class="form-control" placeholder="confirm your new password" required>
                   </div>
                  
                   
                   <button class="btn btn-lg btn-block shadow-sm" style="background-color:rgba(217, 217, 217);" type="submit">
                       Save
                   </button>
				</form>
               </div>
           </div>
       </form>
   </div>
</div>


		
{% endblock %}
