{% extends "layout.html.twig" %}


{% block body %}

        <div class="row d-flex justify-content-center" style ="margin-top:120px;">
            <div class="card card-overlay bg-transparent text-white border-0 shadow" style=" margin-bottom:20px; width:80%; padding-top:30px; padding-bottom:30px; padding-right:30px; padding-left:30px;">

                <div class="row d-flex justify-content-center">

                    {{ form_start(EditForm) }}
						{% for message in app.flashes('message')%}
						<div class=" text-center" style="margin-bottom:20px;">
							<div class="alert alert-success" role="alert"> {{message}}</div>
						</div>

						{%endfor%}
					    <div class=" text-center" style="margin-bottom:20px;">
							<img src="/Images/hackersphotos/{{app.user.photo }}" alt="avatar" style = "width : 150px;">
							
						</div>
                        <div class="row">
						   {% if app.user.nameEnt is defined %}
								<div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.nameEnt, 'Entreprise') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.nameEnt) }}
                            </div>
							
						   {%else%}
						    <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.username, 'Username') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.username) }}
                            </div>
                           {% endif %}
                            
                        </div>
						<div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.name, 'First Name') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.name) }}
                            </div>
                        </div>
						<div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.fName, 'Last Name') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.fName) }}
                            </div>
                        </div>
						<div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.email, 'Email') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.email) }}
                            </div>
                        </div>
						{% if app.user.nameEnt is defined %}
						<div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.num, 'téléphone') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.num) }}
                            </div>
						</div>
                        {% endif %}
						
						<div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.country, 'Country') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.country) }}
                            </div>
                        </div>
						<div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.photo, 'Photo') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.photo) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.adress, 'Adresse') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.adress) }}
                            </div>
                        </div>

                            {% if app.user.idHacker is defined %}
                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.twitter, 'Twitter') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.twitter) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.linkedin, 'Linkedin') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.linkedin) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.github, 'Github') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.github) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.fichierSup, 'Additional file') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.fichierSup) }}
                            </div>
                        </div>

                        {% endif %}
                        

                        {% if app.user.nameEnt is defined %}
                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditForm.site, 'Site') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditForm.site) }}
                            </div>
                        </div>
                        {% endif %}

						
						<div class="text-center">
                            <button type="submit" class="btn btn-lg shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C;">Save</button>
                        </div>
                        

                    {{ form_end(EditForm) }}
                </div>

            </div>

        </div>
		 


		
{% endblock %}
