{% extends "layout.html.twig" %}


{% block body %}
	
		<div class="card bg-transparent text-white border-0 align-item-center" style = "margin-top: 120px; margin-bottom:30px">

		    {% if hack_reports|length != 0 %}
				    {% for i in 0..hack_reports|length-1 %}

					    <div class="row d-flex justify-content-center">
		        			<div class="card card-overlay bg-transparent text-white border-0 shadow" style=" margin-bottom:20px; width:60%">

	        					<div class="row align-items-center">
	    							<div class="col">
								    	<div class="card bg-white border-0 rounded-0 text-center">
									      	<div class="card-body">
									      		<div class="row justify-content-center d-flex align-items-center">
										      		<div class="col-3">
											      		<a href="{{ url('offer_show', {'id' : hack_reports[i].idOffer.idOffer}) }}" style="color:#9D151C;">
											      			<h4>{{ hack_reports[i].idOffer.title}}</h4>
											      		</a>
										      		</div>
										      		<div class="col-3">
										      			<img src="/Images/{{ hack_reports[i].idOffer.idEntreprise.photo}}" height="100" alt="" class="rounded" style="margin-left:20px;" />
									      			</div>
									      			<div class="col-3">
												    	<a href="{{url('report_show', {'id' : hack_reports[i].idReport}) }}">
													      	<button type="button" class="btn btn-sm bg-white shadow">
												              	<div style="color:#9D151C; font-weight:bold;">View Report</div>
												            </button>
											            </a>
												    </div>
												    <div class="col">
												      		{% if hack_reports[i].state.idState == 1 %}
												      			<div class="btn btn-sm btn-success active">{{ hack_reports[i].state.nState }}</div>
											      			{% elseif hack_reports[i].state.idState == 2 %}
												      			<div class="btn btn-sm btn-warning active text-white">{{ hack_reports[i].state.nState }}</div>
											      			{% elseif hack_reports[i].state.idState == 3 %}
												      			<div class="btn btn-sm btn-danger active">{{ hack_reports[i].state.nState }}</div>
											      			{% endif %}
										      			</div>
											    </div>
									      	</div>

									    </div>
								    </div>
							      		
								</div>    	

							</div>
					   </div>
					{% endfor %} 
			{% endif %}
		</div>
{% endblock %}