{% extends "layout.html.twig" %}


{% block body %}

	<div class="card bg-transparent text-white border-0 align-item-center text-center" style = "margin-top: 120px; margin-bottom:30px">

		    {% if hackers|length != 0 %}
		    	{% if is_granted('ROLE_ADMIN') %}
				    {% for i in 0..hackers|length-1 %}
				    	<div class="row d-flex justify-content-center">
						    <div class="card card-overlay bg-transparent border-0 shadow" style=" margin-bottom:20px; width:60%; padding:10px;">
						    	<div class="row align-items-center">
	    							<div class="col">
			      						<img src="/Images/hackersphotos/{{ hackers[i]['photo'] }}" height="100" alt="" class="rounded" style="margin-left:20px; margin-right:20px;" />
								    </div>
								    <div class="col">
								    	<div class="card bg-white border-0 rounded-0 text-center">
								    		<h4 class="card-body">
				      							<a href="{{ url('hacker_show', {'id' : hackers[i]['id_hacker']}) }}" style="color:#9D151C;">{{ hackers[i]['username'] }}</a>
			      							</h4>
					      				</div>
								    </div>
								    <div class="col">
								    	<div class="card bg-white border-0 rounded-0 text-center">
								    		<div class="card-body">
								    			{% if hackers[i]['state'] == "1" %}
				      								<div class="btn btn-sm btn-success text-white">Admitted</div>
			      								{% elseif hackers[i]['state'] == "2" %}
				      								<div class="btn btn-sm btn-warning text-white">Being processed</div>
			      								{% elseif hackers[i]['state'] == "3" %}
				      								<div class="btn btn-sm btn-danger text-white">Rejected</div>
				      							{% endif %}
			      							</div>
					      				</div>
								    </div>
						    	</div>
						    </div>
			    		</div>
					{% endfor %}  
				{% else %} 
					{% for i in 0..hackers|length-1 %}
						{% if hackers[i]['state'] == "1" %}
					    	<div class="row d-flex justify-content-center">
						    <div class="card card-overlay bg-transparent border-0 shadow" style=" margin-bottom:20px; width:60%; padding:10px;">
						    	<div class="row align-items-center">
	    							<div class="col">
			      						<img src="/Images/hackersphotos/{{ hackers[i]['photo'] }}" height="100" alt="" class="rounded" style="margin-left:20px; margin-right:20px;" />
								    </div>
								    <div class="col">
								    	<div class="card bg-white border-0 rounded-0 text-center">
								    		<h4 class="card-body">
				      							<a href="{{ url('hacker_show', {'id' : hackers[i]['id_hacker']}) }}" style="color:#9D151C;">{{ hackers[i]['username'] }}</a>
			      							</h4>
					      				</div>
								    </div>
						    	</div>
						    </div>
			    		</div>
					    {% endif %}
					{% endfor %} 
				{% endif %}
			{% endif %}

	</div>

{% endblock %}
