{% extends "layout.html.twig" %}


{% block body %}
	
<div class="card bg-transparent text-white border-0 align-item-center" style = "margin-top: 120px; margin-bottom:30px">

	{% if is_granted('ROLE_ADMIN') and notifications_admin|length != 0 %}
		    {% for i in 0..notifications_admin|length-1 %}
		    	{% if notifications_admin[i].typeNotif == 7 or notifications_admin[i].typeNotif == 8 or ((notifications_admin[i].typeNotif == 4 or notifications_admin[i].typeNotif == 5 or notifications_admin[i].typeNotif == 12 or notifications_admin[i].typeNotif == 13) and notifications_admin[i].idHacker.idHacker == app.user.idHacker)%}
				    <div class="row d-flex justify-content-center">
	        			<div class="card card-overlay bg-transparent border-0 shadow" style=" margin-bottom:20px; width:60%">
        					<div class="row align-items-center">
				      			{% if notifications_admin[i].typeNotif == 7 %}
	    							<div class="col-6">
								    	<div class="card bg-white border-0 rounded-0">
									      	<div class="card-body" style="color:black">
									      		{% if notifications_admin[i].idHacker is defined %}
									      			<div>
									      				We have a new 
									      				<a href="{{ url('hacker_show', {'id' :  notifications_admin[i].idHacker.idHacker}) }}" style="color:#9D151C;">
										      				hacker
										      			</a> 
										      			! 
									      			</div>
								      			{% elseif notifications_admin[i].idEntreprise is defined %}
									      			<div>
									      				We have a new enterprise ! 
									      			</div>
								      			{% endif %}
									      	</div>
									    </div>
							   		</div>
					   			{% elseif notifications_admin[i].typeNotif == 8 %}
	    							<div class="col-6">
								    	<div class="card bg-white border-0 rounded-0">
									      	<div class="card-body" style="color:black">
									      		<a href="{{ url('entreprise_show', {'id' : notifications_admin[i].idEntreprise.idEntreprise}) }}" style="color:#9D151C;">
								      				{{ notifications_admin[i].idEntreprise.nameEnt }} 
								      			</a>
								      			wants to publish a new
								      			<a href="{{ url('offer_show', {'id' : notifications_admin[i].idOffer.idOffer}) }}" style="color:#9D151C;">
								      				offer 
								      			</a>.
									      	</div>
									    </div>
							   		</div>
						   		{% elseif notifications_admin[i].typeNotif == 4 and notifications_admin[i].idHacker.idHacker == app.user.idHacker %}
						   			<div class="col-6">
								    	<div class="card bg-white border-0 rounded-0">
									      	<div class="card-body" style="color:black">
									   			<a href="{{ url('entreprise_show', {'id' : notifications_admin[i].idEntreprise.idEntreprise}) }}" style="color:#9D151C;">
								      				{{ notifications_admin[i].idEntreprise.nameEnt }} 
								      			</a>
								      			 has accepted your request for report submission for  
								      			<a href="{{ url('offer_show', {'id' : notifications_admin[i].idOffer.idOffer}) }}" style="color:#9D151C;">
								      				{{ notifications_admin[i].idOffer.title }}.
						      				</div>
								    	</div>
						   			</div>
					   			{% elseif notifications_admin[i].typeNotif == 12 %}
					   				<div class="col-6">
								    	<div class="card bg-white border-0 rounded-0">
									      	<div class="card-body" style="color:black">
								    			Great job ! 
								      			<a href="{{ url('entreprise_show', {'id' : notifications_admin[i].idOffer.idEntreprise.idEntreprise}) }}" style="color:#9D151C;">
								      				{{ notifications_admin[i].idOffer.idEntreprise.nameEnt }} 
								      			</a>
								      			 has accepted your report for  
								      			<a href="{{ url('offer_show', {'id' : notifications_admin[i].idOffer.idOffer}) }}" style="color:#9D151C;">
								      				{{ notifications_admin[i].idOffer.title }}.
								      			</a>
									      	</div>
									    </div>
								    </div>
							    {% elseif notifications_admin[i].typeNotif == 13 %}
							    	<div class="col-6">
								    	<div class="card bg-white border-0 rounded-0">
									      	<div class="card-body" style="color:black">
									    			We regret to inform you that 
									      			<a href="{{ url('entreprise_show', {'id' : notifications_admin[i].idOffer.idEntreprise.idEntreprise}) }}" style="color:#9D151C;">
									      				{{ notifications_admin[i].idOffer.idEntreprise.nameEnt }} 
									      			</a>
									      			 has rejected your report for  
									      			<a href="{{ url('offer_show', {'id' : notifications_admin[i].idOffer.idOffer}) }}" style="color:#9D151C;">
									      				{{ notifications_admin[i].idOffer.title }}.
									      			</a>
										      	</div>
										    </div>
									    </div>
					   					
						   		{% endif %}
							    <div class="col">
							    	<div class="card bg-white border-0 rounded-0 text-center">
								      	<div class="card-body" style="color:black">
								      		{% if notifications_admin[i].notifRead == 0 %}
								      			<a href="{{url('mark_as_read_admin', {'id' : notifications_admin[i].idNotif}) }}">
											      	<button type="button" class="btn btn-sm bg-white shadow">
										              	<div style="color:#9D151C; font-weight:bold;">Mark as read</div>
										            </button>
									            </a>
								      		{% elseif notifications_admin[i].notifRead == 1 %}
								      			<a href="{{url('mark_as_read_admin', {'id' : notifications_admin[i].idNotif}) }}">
											      	<button type="button" class="btn btn-sm bg-white shadow">
										              	<div style="color:#9D151C; font-weight:bold;">Mark as unread</div>
										            </button>
									            </a>
								      		{% endif %}
								      	</div>
								    </div>
							    </div>	
							    <div class="col">
							    	<div class="card bg-white border-0 rounded-0 text-center">
								      	<div class="card-body">
							      			<a href="{{url('del_notif_admin', {'id' : notifications_admin[i].idNotif}) }}">
								              	<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x-circle" style="float:right;margin-right:20px;" fill="#9D151C" xmlns="http://www.w3.org/2000/svg">
												  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
												  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
												  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
												</svg>
								            </a>
								      	</div>
								    </div>
							    </div>
							    </div>
						    </div>
					    </div>
						    {% endif %}
					    {% endfor %}
				    {% endif %}
</div>
{% endblock %}