{% extends "layout.html.twig" %}


{% block body %}

 
<div class="container" style="margin-top: 120px;">
   {% for message in app.flashes('message')%}
			<div class=" form-group">
				<div class="alert alert-success" role="alert"> {{message}}</div>
			</div>

	{%endfor%}
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">{{app.user.username}}'s Profile</h5>
                    <div class="row">                  
                        <div class="col-md-12">
                          
                            <table class="table table-sm table-hover table-striped">
                                <tbody>
                                     {% if app.user.nameEnt is defined %}
                                    <tr>
                                        <td>
                                            <strong>Entreprise : </strong> {{app.user.nameEnt}}
                                        </td>
                                    </tr>
                                     {% endif %}
									
									{% if app.user.nameEnt is not defined %}
                                    <tr>
                                        <td>
                                            <strong>Username : </strong> {{app.user.username}}
                                        </td>
                                    </tr>
									{% endif %}

                                    <tr>
                                        <td>
                                            <strong>First Name : </strong> {{app.user.name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Family Name : </strong> {{app.user.fName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Email: </strong> {{app.user.email}}
                                        </td>
                                    </tr>
                                     {% if app.user.num is defined %}
                                    <tr>
                                        <td>
                                            
                                            <strong>Phone Number : </strong> {{app.user.num}}
                                             
                                        </td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <strong>Country : </strong> {{app.user.country}}
                                        </td>
                                    </tr>
                                    {% if app.user.mark is defined %}
                                        {% if app.user.adress is defined %}
                                            <tr>
                                                <td>
                                                    <strong> Adress : </strong> {{app.user.adress}}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if app.user.twitter is not null %}
                                            <tr>
                                                <td>
                                                    <strong> Twitter : </strong> {{app.user.twitter}}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if app.user.linkedin is not null %}
                                            <tr>
                                                <td>
                                                    <strong> LinkedIn : </strong> {{app.user.linkedin}}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if app.user.github is not null %}
                                            <tr>
                                                <td>
                                                    <strong> Git Hub : </strong> {{app.user.github}}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if app.user.site is not null %}
                                            <tr>
                                                <td>
                                                    <strong> Web Site : </strong> {{app.user.site}}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if app.user.fichierSup%}
                                            <tr>
                                                <td>
                                                    <strong> Additional File : </strong> <a class="btn btn-sm text-center text-white" style="background-color: #9D151C;" href="/Images/hackersphotos/{{app.user.fichierSup}}" download>View File </a> 
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                
                
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="/Images/hackersphotos/{{app.user.photo }}" alt="avatar" style = "width : 150px; margin-top:30px;">
            <span style="display:block; margin-top:30px">
			    {% if app.user.nameEnt is defined %}
                <a href="{{url('EditProfilEntreprise')}}" class ="btn blue shadow" style = " font-weight: bold; color :#f8f9fa; background-color: #9D151C; margin:auto;"> Edit Profil </a>
				{% else %}
                <a href="{{url('EditProfil')}}" class ="btn blue shadow" style = " font-weight: bold; color :#f8f9fa; background-color: #9D151C; margin:auto;"> Edit Profil </a>
				{% endif %}
                <a href="{{url('EditPass')}}" class ="btn blue shadow" style = " font-weight: bold; color :#f8f9fa; background-color: #9D151C;  margin:auto;"> Change Password </a>
			</span>
            {% if app.user.num is defined %}
                    <a href="{{url('ent_offres', {'id' : app.user.idEntreprise})}}" class ="btn blue shadow" style ="margin-top:6px; font-weight: bold; color :#f8f9fa; background-color: #9D151C;"> Check my offers </a>
                    <a href="{{url('ent_reports', {'id' : app.user.idEntreprise})}}" class ="btn blue shadow" style ="margin-top:6px; font-weight: bold; color :#f8f9fa; background-color: #9D151C; width:170px;"> Check my reports </a>
            {% endif %}
            {% if app.user.mark is defined %}
                    <a href="{{url('hack_reports', {'id' : app.user.idHacker})}}" class ="btn blue shadow" style ="margin-top:6px; font-weight: bold; color :#f8f9fa; background-color: #9D151C; width:170px;"> Check my reports </a>
            {% endif %}
            {% if app.user.state.idstate == 2 and app.user.test==NULL%}
                <span style="display:block; margin-top:6px;">
                    <a href="{{url('test')}}" class ="btn blue shadow" style = " font-weight: bold; color :#f8f9fa; background-color: #9D151C; margin:auto;"> Tests </a>
                </span>
            {% endif %} 
            {% if is_granted('ROLE_ADMIN') %}
            <span style="display:block;">
                <a href="{{url('new_post')}}" class ="btn blue shadow" style ="margin-top:6px; font-weight: bold; color :#f8f9fa; background-color: #9D151C; width:170px;"> New blog post </a>
            </span>
            {% endif %}

        </div>
    
            
            
    </div>
</div>
{% endblock %}
