{% extends "layout.html.twig" %}


{% block body %}
 
        	
	<div class="card border-0 bg-transparent" style="margin-top:90px">
		<div class="tab-content py-4 text-center">
	    	<div class="card border-0 rounded-0 shadow" style="background-color:rgba(256, 256, 256, 0.5); width:100%;">
	    		<div style="background-image: url('/Images/TitlePattern.jpg');">
		            <div class="card-body">
		            	<div class="row justify-content-center d-flex align-items-center">
					    	<div class="col-3">
						     	<h3 class="text-title text-white text-center">{{result['hacker'].username}}'s Profile</h3>
						    </div>
						</div>
		            </div>
		        </div>
	      </div>
	    </div>
	    <div class="tab-content py-4">
	    	<div class="card-overlay border-0 bg-white shadow mx-auto" style="width:60%;">
		        <div class="text-card text-center" style="margin-bottom:30px">
		        	<img src="/Images/hackersphotos/{{result['hacker'].photo }}" alt="avatar" style = "width:150px; margin-top:30px;">
		        </div>
		        <div class="row">                  
		            <div class=" mx-auto">
		              
		                <table class="table table-sm table-borderless">
		                    <tbody>
								<tr>
		                            <td>
		                                <strong style="float:left; padding-right:10px; color:#9D151C;">Username : </strong> <div style="float:right">{{result['hacker'].username}}</div>
		                            </td>
		                        </tr>
		                        <tr>
		                            <td>
		                                <strong style="float:left; padding-right:10px; color:#9D151C;">First Name : </strong> <div style="float:right">{{result['hacker'].name}}</div>
		                            </td>
		                        </tr>
		                        <tr>
		                            <td>
		                                <strong style="float:left; padding-right:10px; color:#9D151C;">Last Name : </strong> <div style="float:right">{{result['hacker'].fName}}</div>
		                            </td>
		                        </tr>

		                        <tr>
		                            <td>
		                                <strong style="float:left; padding-right:10px; color:#9D151C;"g>Country : </strong> <div style="float:right">{{result['hacker'].country}}</div>
		                            </td>
		                        </tr>
								<tr>
		                            <td>
										<strong style="float:left; padding-right:10px; color:#9D151C;"> Mark : </strong> <div style="float:right">{{result['hacker'].mark}}</div>
		                            </td>
		                        </tr>

								{% if result['hacker'].adress is not null %}
									<tr>
			                            <td>
											<strong style="float:left; padding-right:10px; color:#9D151C;"> Adress : </strong> <div style="float:right">{{result['hacker'].adress}}</div>
			                            </td>
			                        </tr>
			                    {% endif %}
			                    {% if result['hacker'].site is not null %}
									<tr>
			                            <td>
											<strong style="float:left; padding-right:10px; color:#9D151C;"> Website : </strong> 
											<a href="https://twitter.com/{{result['hacker'].twitter}}" style="float:right; color:#000000;">{{result['hacker'].site}}</a>
			                            </td>
			                        </tr>
			                    {% endif %}
			                    {% if result['hacker'].twitter is not null %}
									<tr>
			                            <td>
											<strong style="float:left; padding-right:10px; color:#9D151C;"> Twitter : </strong> 
											<a href="https://twitter.com/{{result['hacker'].twitter}}" style="float:right; color:#000000;">@{{result['hacker'].twitter}}</a>
			                            </td>
			                        </tr>
			                    {% endif %}
			                    {% if result['hacker'].linkedin is not null %}
									<tr>
			                            <td>
											<strong style="float:left; padding-right:10px; color:#9D151C;"> LinkedIn : </strong> 
											<a href="https://twitter.com/{{result['hacker'].twitter}}" style="float:right; color:#000000;">{{result['hacker'].linkedin}}</a>
			                            </td>
			                        </tr>
			                    {% endif %}
			                    {% if result['hacker'].github is not null %}
									<tr>
			                            <td>
											<strong style="float:left; padding-right:10px; color:#9D151C;"> GitHub : </strong> <div style="float:right">{{result['hacker'].github}}</div>
			                            </td>
			                        </tr>
			                    {% endif %}
		                    </tbody>
		                </table>
		                <div class="row justify-content-center ">
			                {% if is_granted('ROLE_ADMIN') %}
				                {% if app.user.idHacker != result['hacker'].idHacker %}
					                <div class="col-5">
						                    <a href="{{url('hacker_delete', {'id' : result['hacker'].idHacker }) }}">
						                        <button type="button" class="btn btn-sm shadow-sm" style="background-color:rgba(217, 217, 217); height:35px; margin-bottom:10px">
						                            <div style="color:#9D151C; font-weight:bold;">Delete</div>
						                        </button>
						                    </a>
						            </div>
					            </div>
						            {% if result['hacker'].state.idState == 2 %}
						            <div class="row justify-content-center ">
						                <div class="col-5">
						                    <a href="{{url('hacker_in', {'id' : result['hacker'].idHacker }) }}">
						                        <button type="button" class="btn btn-sm shadow-sm" style="background-color:rgba(217, 217, 217); height:35px; margin-bottom:10px">
						                            <div style="color:#9D151C; font-weight:bold;">Integrate</div>
						                        </button>
						                    </a>
						            	</div>
						            	<div class="col-5">
						                    <a href="{{url('hacker_out', {'id' : result['hacker'].idHacker }) }}">
						                        <button type="button" class="btn btn-sm shadow-sm" style="background-color:rgba(217, 217, 217); height:35px; margin-bottom:10px">
						                            <div style="color:#9D151C; font-weight:bold;">Reject</div>
						                        </button>
						                    </a>
						            	</div>	
					            	</div>
					                {% endif %}
				                {% endif %} 
				            {% endif %}
		            </div>
		        </div>
	       	</div>
	    </div>
	</div>

{% endblock %}

