{% extends "layout.html.twig" %}



{% block body %}

        <div class="row d-flex justify-content-center" style ="margin-top:120px;">
            <div class="card card-overlay bg-transparent text-white border-0 shadow" style=" margin-bottom:20px; width:80%; padding-top:30px; padding-bottom:30px; padding-right:30px; padding-left:30px;">

                <div class="row d-flex justify-content-center">

                    {{ form_start(testForm) }}
					   <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                <a href="{{path('download_test')}}"> Your machine test </a>
								<a href="{{path('instructions')}}" style="margin-left: 50px;"> instructions </a>
                            </div>
                            
                        </div>


						<div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(testForm.test, 'test') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(testForm.test) }}
                            </div>
                        </div>
						
						
						<div class="text-center">
                            <button type="submit" class="btn btn-lg shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C;">Save</button>
                        </div>
                        

                    {{ form_end(testForm) }}
                </div>

            </div>

        </div>
		 


		
{% endblock %}
