{% extends "layout.html.twig" %}
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdn.tiny.cloud/1/1r3xno60hf2olb3nwcalbv7ow89y17xu0n7a8s7fxqpztm09/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>
    <script>
    tinymce.init({
      selector: '#report'
    });
  </script>
{% endblock %}

{% block body %}

	<div class="card border-0 bg-transparent" style="margin-top:90px; width:100%;">
	    <div class="tab-content py-4 text-center">
	    	<div class="card border-0 rounded-0 shadow" style="background-color:rgba(256, 256, 256, 0.5); width:100%;">
	    		<div style="background-image: url('/Images/TitlePattern.jpg');">
		            <div class="card-body">
		            	<div class="row justify-content-center d-flex align-items-center">
					    	<div class="col-3">
						     	<h3 class="text-title text-white text-center">{{report.idOffer.title}}</h3>
						    </div>
						    <div class="col-3">
						      	<div class="text-title text-white text-center">{{report.idOffer.description1}}</div>
						    </div>
						    {% if app.user.mark is defined %}
							    <div class="col-3">
							    	<a href="{{url('report_show', {'id' : report.idReport}) }}">
								      	<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
								  		<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
									</svg>
						            </a>
							    </div>
						    {% endif %}
						</div>
		            </div>
		        </div>
          </div>
        </div>

        <div class="row d-flex justify-content-center">

            <div class="card card-overlay bg-transparent text-white border-0 shadow" style=" margin-bottom:20px; width:80%; padding-top:30px; padding-bottom:30px; padding-right:30px; padding-left:30px;">

                <div class="row d-flex justify-content-center">

                    {{ form_start(EditReportForm) }}
                    	<h3 style="color:#9D151C; font-weight:bold;">Report Details</h3><br>
                        <div class="row">

                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                <div style="float:left">{{ form_label(EditReportForm.scope, 'Scope') }}</div>
                                <div style="float:left; font-weight:bold; color:#9D151C;">*</div> 
                            </div>
                            <div class="col" style="float:left;">
                                <div style="float:left">{{ form_widget(EditReportForm.scope) }}</div>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditReportForm.end_point, 'Endpoint') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditReportForm.end_point) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditReportForm.tech_env, 'Technical environment') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditReportForm.tech_env) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditReportForm.app_fingerprint, 'Application fingerprint') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditReportForm.app_fingerprint) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditReportForm.ip_used, 'IP used') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(EditReportForm.ip_used) }}
                            </div>
                        </div>
                        
                        <h3 style="color:#9D151C; font-weight:bold; margin-top:30px;">CVSS Score</h3><br>

                        <div class="container">

	                        <h4 class="text-secondary" style="font-weight:bold;">Base Metrics</h4>

	                        <h5 class="text-dark" style="font-weight:bold;">Access Vector</h5><br>
	                        <div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="base1" id="1" value="0.395"> Local
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="base1" id="2" value="0.646"> Adjacent Network
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="base1" id="3" value="1"> Network
								  	</label>
								</div>
	                    	</div>

	                    	<h5 class="text-dark" style="font-weight:bold;">Attack Complexity</h5><br>
	                    	<div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="base2" id="1" value="0.35"> High
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="base2" id="2" value="0.61"> Medium
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="base2" id="3" value="0.71"> Low
								  	</label>
								</div>
	                    	</div>

	                    	<h5 class="text-dark" style="font-weight:bold;">Authentication</h5><br>
	                    	<div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="base3" id="1" value="0.45"> Multiple
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="base3" id="2" value="0.56"> Single
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="base3" id="3" value="0.704"> None
								  	</label>
								</div>
	                    	</div>
	                	</div>

	                	<div class="container">
	                    	<h4 class="text-secondary" style="font-weight:bold; margin-top:25px;">Impact Metrics</h4>
	                    	<h5 class="text-dark" style="font-weight:bold;">Confidentiality</h5><br>
	                        <div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="impact1" id="1" value="0"> None
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="impact1" id="2" value="0.275"> Partial
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="impact1" id="3" value="0.660"> Complete
								  	</label>
								</div>
	                    	</div>

	                    	<h5 class="text-dark" style="font-weight:bold;">Integrity</h5><br>
	                        <div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="impact2" id="1" value="0"> High
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="impact2" id="2" value="0.275"> Medium
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="impact2" id="3" value="0.660"> Low
								  	</label>
								</div>
	                    	</div>

	                    	<h5 class="text-dark" style="font-weight:bold;">Availability</h5><br>
	                    	<div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="impact3" id="1" value="0"> None
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="impact3" id="2" value="0.275"> Partial
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="impact3" id="3" value="0.660"> Complete
								  	</label>
								</div>
	                    	</div>
	                    </div>

	                    <div class="container">
	                    	<h4 class="text-secondary" style="font-weight:bold; margin-top:25px;">Temporal Metrics</h4>
	                    	<h5 class="text-dark" style="font-weight:bold;">Exploitability</h5><br>
	                        <div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="temp1" id="1" value="0.85"> Unproven
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="temp1" id="2" value="0.9"> Proof-of-concept
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="temp1" id="3" value="0.95"> Functional
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="temp1" id="4" value="1"> High
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="temp1" id="5" value="1"> Not Defined
								  	</label>
								</div>
	                    	</div>

	                    	<h5 class="text-dark" style="font-weight:bold;">Remediation Level</h5><br>
	                        <div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="temp2" id="1" value="0.87"> Official Fix
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="temp2" id="2" value="0.9"> Temporary Fix
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="temp2" id="3" value="0.95"> Workaround
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="temp2" id="4" value="1"> Unavailable
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="temp2" id="5" value="1"> Not Defined
								  	</label>
								</div>
	                    	</div>

	                    	<h5 class="text-dark" style="font-weight:bold;">Report Confidence</h5><br>
	                        <div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="temp3" id="1" value="0.9"> Unconfirmed
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="temp3" id="2" value="0.95"> Uncorroborated
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="temp3" id="3" value="1"> Confirmed
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="temp3" id="4" value="1"> Not Defined
								  	</label>
								</div>
	                    	</div>
	                    </div>

	                    <div class="container">
	                    	<h4 class="text-secondary" style="font-weight:bold; margin-top:25px;">Environmental Metrics</h4>
	                    	<h5 class="text-dark" style="font-weight:bold;">Collateral Damage Potential</h5><br>
	                        <div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="env1" id="1" value="0"> checked None
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="env1" id="2" value="0.1"> Low
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="env1" id="3" value="0.3"> Low-Medium
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="env1" id="4" value="0.4"> Low-High
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="env1" id="5" value="0.5"> High
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="env1" id="6" value="0"> Not Defined
								  	</label>
								</div>
	                    	</div>

	                    	<h5 class="text-dark" style="font-weight:bold;">Target Distribution</h5><br>
	                        <div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
									<label class="btn btn-secondary active">
										<input type="radio" name="env2" id="1" value="0"> None
								  	</label>
								  	<label class="btn btn-secondary">
								    	<input type="radio" name="env2" id="2" value="0.25"> Low
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="env2" id="3" value="0.75"> Medium
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="env2" id="4" value="1"> High
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="env2" id="5" value="1"> Not Defined
								  	</label>
								</div>
	                    	</div>

	                    	<h5 class="text-dark" style="font-weight:bold;">Impact Subscore Modifier</h5><br>
	                        <div class="row">
	                        	<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top:-25px; margin-bottom:20px;">
								  	<label class="btn btn-secondary active">
								    	<input type="radio" name="env3" id="1" value="0.5" > Low
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="env3" id="2" value="1"> Medium
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="env3" id="3" value="1.51"> High
								  	</label>
								  	<label class="btn btn-secondary">
									    <input type="radio" name="env3" id="4" value="1"> Not Defined
								  	</label>
								</div>
	                    	</div>

	                    	<h3 style="color:#9D151C; font-weight:bold; margin-top:10px;">Report Description</h3>

                            <div class="col text-dark" style="float:left; font-weight:bold; margin-bottom:5px;">   
                                {{ form_label(EditReportForm.report, 'Report') }}
                            </div>
                            <div class="col" style="float:left; margin-bottom:30px;">
                                {{ form_widget(EditReportForm.report, {'id': 'report'}) }}
                            </div>

	                    </div>	

	                    <div class="container">
	                    	<div class="row">
		                    	<div class="text-center">
		                            <button type="submit" class="btn btn-lg shadow-sm" style="background-color:rgba(217, 217, 217); font-weight:bold; color:#9D151C;">Submit</button>
		                        </div>
	                    	</div>
                    	</div>
                    {{ form_end(EditReportForm) }}
                </div>

            </div>

        </div>

	</div>
	<script>
		$("label").click(function(){
			$choices = $(this).parent().children();
			$choices.each(function(){
				$(this).removeClass("active");
			});
			$(this).addClass("active");
		});
	</script>
{% endblock %}