{% extends "layout.html.twig" %}


{% block body %}
	
		<div class="card bg-transparent text-white border-0 align-item-center" style = "margin-top: 120px; margin-bottom:30px">

		    {% if ent_reports|length != 0 %}
				    {% for i in 0..ent_reports|length-1 %}

					    <div class="row d-flex justify-content-center">
		        			<div class="card card-overlay bg-transparent text-white border-0 shadow" style=" margin-bottom:20px; width:60%">

	        					<div class="row align-items-center">
	    							<div class="col">
							     		<div class="card bg-white border-0 rounded-0">
								      		<div class="card-body" style="color:#9D151C;">
									      		<p>
									      			<div class="row">
									      				<div class="col" style="margin-right:-100px; margin-left:30px;">	
												      		<div style="color:#9D151C; font-weight:bold;">Offer</div>
											      		</div>
										      			<div class="col">
												      		<a href="{{ url('offer_show', {'id' : ent_reports[i]['id_offer']}) }}" style="color:#9D151C;">
												      			<div>{{ ent_reports[i]['title']}}</div>
												      		</a>
												      	</div>
									      			</div>
										      	</p>
									   		</div>
									   	</div>	
									</div>	

								    <div class="col">
							     		<div class="card bg-white border-0 rounded-0">
								      		<div class="card-body" style="color:#9D151C;">
									      		<p>
									      			<div class="row">
									      				<div class="col" style="margin-right:-100px;">	
												      		<div style="color:#9D151C; font-weight:bold;">State</div>
											      		</div>
										      			<div class="col">
												      		{% if ent_reports[i]['state'] == 1 %}
												      			<div class="btn btn-sm btn-success active">{{ ent_reports[i]['n_state']}}</div>
											      			{% elseif ent_reports[i]['state'] == 2 %}
												      			<div class="btn btn-sm btn-warning active text-white">{{ ent_reports[i]['n_state']}}</div>
											      			{% elseif ent_reports[i]['state'] == 3 %}
												      			<div class="btn btn-sm btn-danger active">{{ ent_reports[i]['n_state']}}</div>
											      			{% endif %}
										      			</div>
									      			</div>
										      	</p>
									   		</div>
									   	</div>	
									</div>	

							      	<div class="col">
							     		<div class="card bg-white border-0 rounded-0">
								      		<div class="card-body" style="color:#9D151C;">
									      		<p>
									      			<div class="row">
									      				<div class="col">	
															<a href="{{url('report_show', {'id' : ent_reports[i]['id_report']}) }}">
														      	<button type="button" class="btn btn-sm bg-white shadow">
													              	<div style="color:#9D151C; font-weight:bold;">View report</div>
													            </button>
												            </a>
											            </div>
										            </div>
										      	</p>
									   		</div>
									   	</div>	
									</div>	

								</div>    	

							</div>
					   </div>
					{% endfor %} 
			{% endif %}
		</div>
{% endblock %}