{% extends "layout.html.twig" %}


{% block body %}
	
		<div class="card bg-transparent text-white border-0 align-item-center" style = "margin-top: 120px; margin-bottom:30px">

		    {% if offers|length != 0 %}
				    {% for i in 0..offers|length-1 %}
				    	{% if is_granted('ROLE_ADMIN') %}
						    <div class="row d-flex justify-content-center">
			        			<div class="card card-overlay bg-transparent text-white border-0 shadow" style=" margin-bottom:20px; width:60%">

		        					<div class="row align-items-center">
		    							<div class="col-4">
									    	<div class="card bg-white border-0 rounded-0 text-center">
										      	<div class="card-body" style="color:#9D151C;">
										      		<a href="{{ url('offer_show', {'id' : offers[i]['id_offer']}) }}" style="color:#9D151C;">
										      			<h4>{{ offers[i]['title']}}</h4>
									      			</a>
									      			<img src="/Images/hackersphotos/{{ offers[i]['photo']}}" height="100" alt="" class="rounded" style="margin-left:20px;"/>
										      	</div>
										    </div>
									    </div>
									    <div class="col">
								     		<div class="card bg-white border-0 rounded-0">
									      		<div class="card-body" style="color:#9D151C;">
										      		<p>
											      		<div class="row">
									      				<div class="col" style="margin-right:-100px;">
											      			<h5 style="color:#9D151C; margin-right:5px;">Type</h5>
										      			</div>
										      			<div class="col">
											      			<div style="color:black;">{{ offers[i]['n_type']}}</div>
										      			</div>
										      			</div>
										      			<div class="row">
										      				<div class="col" style="margin-right:-100px;">
											      				<h5 style="color:#9D151C;  margin-right:5px;">Summary</h5>
										      				</div>
											      			<div class="col">
											      				<div style="color:black;">{{ offers[i]['description1']}}</div>
											      			</div>
										      			</div>
										      			<div class="row">
										      				<div class="col", style="margin-right:-100px;">	
													      		<h5 style="color:#9D151C;  margin-right:5px;">State</h5>
												      		</div>
											      			<div class="col">
													      		{% if offers[i]['state'] == 1 %}
													      			<div class="btn btn-sm btn-success active">{{ offers[i]['n_state']}}</div>
												      			{% elseif offers[i]['state'] == 2 %}
													      			<div class="btn btn-sm btn-warning active text-white">{{ offers[i]['n_state']}}</div>
												      			{% elseif offers[i]['state'] == 3 %}
													      			<div class="btn btn-sm btn-danger active">{{ offers[i]['n_state']}}</div>
												      			{% endif %}
											      			</div>
									      				</div>
											      	</p>
										   		</div>
										   	</div>	

										</div>	
									    
									</div>    	

								</div>
						   </div>
					  	{% else %} 
					  		{% if offers[i]['state'] == 1 %}
					  			<div class="row d-flex justify-content-center">
			        			<div class="card card-overlay bg-transparent text-white border-0 shadow" style=" margin-bottom:20px; width:60%">

		        					<div class="row align-items-center">
		    							<div class="col-4">
									    	<div class="card bg-white border-0 rounded-0 text-center">
										      	<div class="card-body" style="color:#9D151C;">
										      		<a href="{{ url('offer_show', {'id' : offers[i]['id_offer']}) }}" style="color:#9D151C;">
										      			<h4>{{ offers[i]['title']}}</h4>
									      			</a>
									      			<img src="/Images/hackersphotos/{{ offers[i]['photo']}}" height="100" alt="" class="rounded" style="margin-left:20px;" />
										      	</div>
										    </div>
									    </div>

									    <div class="col">
								     		<div class="card bg-white border-0 rounded-0">
									      		<div class="card-body" style="color:#9D151C;">
										      		<p>
											      		<div class="row">
									      				<div class="col" style="margin-right:-100px;">
											      			<h5 style="color:#9D151C; margin-right:5px;">Type</h5>
										      			</div>
										      			<div class="col">
											      			<div style="color:black;">{{ offers[i]['n_type']}}</div>
										      			</div>
										      			</div>
										      			<div class="row">
										      				<div class="col" style="margin-right:-100px;">
											      				<h5 style="color:#9D151C;  margin-right:5px;">Summary</h5>
										      				</div>
											      			<div class="col">
											      				<div style="color:black;">{{ offers[i]['description1']}}</div>
											      			</div>
										      			</div>
											      	</p>
										   		</div>
										   	</div>	

										</div>	
									    
									</div>    	

								</div>
						   	</div>
					  		{% endif %}
					   	{% endif %}
					{% endfor %} 
			{% endif %}
		</div>
{% endblock %}