{% extends "layout.html.twig" %}

{% block javascript %}
    <script src="https://cdn.tiny.cloud/1/1r3xno60hf2olb3nwcalbv7ow89y17xu0n7a8s7fxqpztm09/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>
    <script>
    tinymce.init({
        selector: '#description2',
        setup: function (editor) {
        editor.on('change', function () {
            editor.save();
        });
        }
    });
  </script>
{% endblock %}
{% block body %}
<body onload="wysiwyg();">
    <div class="card bg-transparent border-0 align-item-center" style = "margin-top: 100px;">

        <div class="row d-flex justify-content-center">

            <div class="card card-overlay bg-transparent text-white border-0 shadow" style=" margin-bottom:20px; width:80%; padding-top:30px; padding-bottom:30px; padding-right:30px; padding-left:30px;">
                <h4>
                    New Offer 
                </h4>
                {% if app.user.nameEnt is defined %}
                                    <tr>
                                        <td>
                                            <strong>Entreprise : </strong> {{app.user.idEntreprise}}
                                        </td>
                                    </tr>
                                     {% endif %}
                    {{ form_start(offerForm)}}
                        <div class="row">
                            <div class="col-sm-1 text-dark" style="float:left; font-weight:bold; margin-bottom:5px; margin-right: 10px;">   
                                {{ form_label(offerForm.title, 'Title') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(offerForm.title) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 text-dark" style="float:left; font-weight:bold; margin-bottom:5px; margin-right: 10px;">   
                                <label for="offer_form_id_type" class="required">Summary</label>
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(offerForm.description1, {'id': 'description1'}) }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-1 text-dark" style="float:left; font-weight:bold; margin-bottom:5px; margin-right: 10px;">   
                                {{ form_label(offerForm.description2, 'Description') }}
                            </div>
                            <div class="col" style="float:left;">
                                {{ form_widget(offerForm.description2, {'id': 'description2'}) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1 text-dark" style="float:left; font-weight:bold; margin-bottom:5px; margin-right: 10px;">   
                                <label for="offer_form_id_type" class="required">Type</label>
                            </div>
                            <div class="col" style="float:left;">
                                <select id="offer_form_id_type" name="type">
                                    <option value="1">Find It</option>
                                    <option value="2">Find It &amp; Fix It</option>
                                </select>
                            </div>
                        </div>
                    {{ form_end(offerForm) }}
            </div>
        </div>
    </div>
</body>
{% endblock %}