{% extends "layout.html.twig" %}


{% block body %}
 
<div style="background-image: url('/Images/TitlePattern.jpg');">
	<div class="card border-0 bg-transparent" style="margin-top:85px">
	    <div class="tab-content py-4 text-center">
	    	<div class="card border-0 rounded-0 shadow" style="background-color:rgba(217, 217, 217, 0.5); width:100%;">
	            <div class="card-body">
	            	<div class="row justify-content-center d-flex align-items-center">
				    	<div class="col-3">
					     	<h4 class="text-title text-white text-center">{{result['offer'].title}}</h4>
					    </div>
					    <div class="col-3">
					      	<div class="text-title text-white text-center">{{result['offer'].description1}}</div>
					    </div>
					    {% if app.user.mark is defined %}
					    	{% if app.user.state.idState == 1 %}
						    	{% if result['report_permit'].state is defined and result['report_permit'].state == 1 %}
							    	<div class="col-3">
								    	<a href="{{url('sub_report', {'id' : result['offer'].idOffer}) }}">
									      	<button type="button" class="btn btn-sm bg-white shadow">
								              	<div style="color:#9D151C; font-weight:bold;">Submit report</div>
								            </button>
							            </a>
								    </div>
							    {% else %}
							    	<div class="col-3">
								    	<a href="{{url('report_ask', {'id' : result['offer'].idOffer}) }}">
									      	<button type="button" class="btn btn-sm bg-white shadow">
								              	<div style="color:#9D151C; font-weight:bold;">Request report submission</div>
								            </button>
							            </a>
								    </div>
							    {% endif %}
						    {% endif %}
					    {% endif %}
					</div>
	            </div>
          </div>
      	{% for message in app.flashes('message')%}
			<div class=" form-group text-center">
				<div class="alert alert-success mx-auto" style="margin-top:5px; margin-bottom:-10px; width:40%;" role="alert"> {{message}}</div>
			</div>
		{%endfor%}
        </div>
	    	<div class="card-overlay border-0 bg-white shadow mx-auto" style="width:70%; margin-bottom:20px;">
		        
		        <div class="d-flex flex-column bd-highlight mb-2" style="margin-left:20px; margin-top:20px">                  
	                <div class="row">
	                	<div class="col-10">
	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Offer Type : </h5> 
	                        <div class="p-2">{{result['info_ent'][0].n_type}}</div>
                        </div>
                        <div class="col">
                        	<h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Date : </h5> 
	                        <div class="p-2">{{result['offer'].dateAdd|date("m/d/Y")}}</div>
                    	</div>
                	</div>
	                <div class="row">
	                	<div class="col-10">
	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Offer Description : </h5> 
	                        <div class="p-2">{{result['offer'].description2|raw}}</div>
                        </div>
                        <div class="col">
                        	<h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Reports : </h5> 
	                        <div class="p-2">{{result['offer'].nbReports}}</div>
	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Thanks : </h5> 
	                        <div class="p-2">{{result['offer'].nbThanks}}</div>
                    	</div>
                	</div>

		                {% if is_granted('ROLE_ADMIN') %}
					        <a href="{{url('offer_delete', {'id' : result['offer'].idOffer}) }}">
					            <button type="button" class="btn shadow-sm" style="background-color:rgba(217, 217, 217); margin-top:10px; margin-bottom:10px">
					              	<div style="color:#9D151C; font-weight:bold">Delete offer</div>
					            </button>
					        </a>
					        {% if result['info_ent'][0].state == 2 %}
					        <div class="row">
					        	<div class="col-2">
					        		<a href="{{url('offer_in', {'id' : result['offer'].idOffer}) }}">
							            <button type="button" class="btn shadow-sm" style="background-color:rgba(217, 217, 217); margin-top:10px; margin-bottom:10px">
							              	<div style="color:#9D151C; font-weight:bold">Allow offer</div>
							            </button>
							        </a>
					        	</div>
					        	<div class="col-2">
					        		<a href="{{url('offer_out', {'id' : result['offer'].idOffer}) }}">
							            <button type="button" class="btn shadow-sm" style="background-color:rgba(217, 217, 217); float:left; margin-top:10px; margin-bottom:10px; margin-left:-30px;">
							              	<div style="color:#9D151C; font-weight:bold">Reject offer</div>
							            </button>
							        </a>
					        	</div>
					        </div>
					        {% endif %}
				        {% elseif app.user.idEntreprise is defined %}
				        	{% if result['info_ent'][0].id_entreprise == app.user.idEntreprise %}
				        		<a href="{{url('offer_delete', {'id' : result['offer'].idOffer}) }}">
						            <button type="button" class="btn shadow-sm" style="background-color:rgba(217, 217, 217); margin-top:10px; margin-bottom:10px">
						              	<div style="color:#9D151C; font-weight:bold">Delete offer</div>
						            </button>
					        	</a>
				        	{% endif %}
				      	{% endif %}
		        </div>
	       	</div>
	</div>
</div>
{% endblock %}

