{% extends "layout.html.twig" %}


{% block body %}
 
<div style="background-image: url('/Images/TitlePattern.jpg');">
	<div class="card border-0 bg-transparent" style="margin-top:90px;">
	    <div class="tab-content py-4 text-center">
	    	<div class="card border-0 rounded-0 shadow" style="background-color:rgba(217, 217, 217, 0.5); width:100%; margin-bottom: 20px;">
	            <div class="card-body">
	            	<div class="row justify-content-center d-flex align-items-center">
				    	<div class="col-2">
					     	<h4 class="text-title text-white text-center">{{result['info_rep'][0]['title']}}</h4>
					    </div>
					    <div class="col-2">
					      	<div class="text-title text-white text-center">{{result['info_rep'][0]['description1']}}</div>
					    </div>
					    {% if app.user.idHacker is defined %}
						    {% if app.user.idHacker == result['report'].idHacker.idHacker %}
						    	<div class="col-2">
							    	<a href="{{url('report_edit', {'id' : result['report'].idReport}) }}">
								      	<button type="button" class="btn btn-sm bg-white shadow">
							              	<div style="color:#9D151C; font-weight:bold;">Update Report</div>
							            </button>
						            </a>
							    </div>
						    {% endif %}
					    {% endif %}
					    <div class="col-2">
					    	<a href="{{url('offer_show', {'id' : result['report'].idOffer.idOffer}) }}">
						      	<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
						  		<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
							</svg>
				            </a>
					    </div>
					</div>
	            </div>
          	</div>
        </div>
        {% for message in app.flashes('message')%}
			<div class=" form-group text-center">
				<div class="alert alert-success mx-auto" style="margin-top:5px; margin-bottom:-10px; width:40%;" role="alert"> {{message}}</div>
			</div>
		{%endfor%}
	    	<div class="card-overlay border-0 bg-white shadow mx-auto" style="width:60%; margin-bottom:20px;">
		        
		        <div class="d-flex flex-column bd-highlight mb-2" style="margin-left:40px; margin-top:20px">    
		        	<div class="row">
		            	
		            	<div class="col-8">
			            <h4 class="text-secondary">Report Details</h4>    
	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Scope : </h5> 
	                        <div class="p-2">{{result['report'].scope}}</div>

	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">End Point : </h5> 
	                        <div class="p-2">{{result['report'].endPoint}}</div>

	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Application Fingerprint : </h5> 
	                        <div class="p-2">{{result['report'].appFingerprint}}</div>

	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">IP Used : </h5> 
	                        <div class="p-2">{{result['report'].ipUsed}}</div>

	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">CVSS Score : </h5> 
	                        <div class="p-2">{{result['report'].cvssBase}}</div>

	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Severity : </h5> 
	                        <div class="p-2">{{result['report'].severity}}</div>

	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Payload : </h5> 
	                        <div class="p-2">
	                        	<div class="text-secondary" style="font-weight:bold; float:left; margin-right:5px;">Find It : </div>
	                        	<div style="float:left"> {{result['report'].payloadFi}} €</div>
	                        	<div class="text-secondary" style="font-weight:bold; float:left; margin-right:5px; margin-left:30px;">Find It & Fix It : </div>
	                        	<div > {{result['report'].payloadFifi}} €</div>
	                        </div>

	                        <h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Report Description : </h5> 
	                        <div class="p-2">{{result['report'].report|raw}}</div>

			                {% if app.user.idEntreprise is defined %}
			                	{% if app.user.idEntreprise == result['report'].idOffer.idEntreprise.idEntreprise and result['report'].state.idState == 2 %}
					                <div class="row">
					                	<div class="col-3">
									        <a href="{{url('report_accept', {'id' : result['report'].idReport}) }}">
									            <button type="button" class="btn shadow-sm" style="background-color:rgba(217, 217, 217); margin-top:10px; margin-bottom:10px">
									              	<h5 style="color:#9D151C;">Accept Report</h5>
									            </button>
									        </a>
								        </div>
								        <div class="col-3">
									        <a href="{{url('report_reject', {'id' : result['report'].idReport}) }}">
									            <button type="button" class="btn shadow-sm" style="background-color:rgba(217, 217, 217); margin-top:10px; margin-bottom:10px">
									              	<h5 style="color:#9D151C;">Reject Report</h5>
									            </button>
									        </a>
								        </div>
							        </div>
					        	{% endif %}
					      	{% endif %}
					    </div>
					    <div class="col">
		            		<h5 class="p-2" style="color:#9D151C; margin-bottom:-10px;">Submission Date : </h5> 
	                        <div class="p-2">{{result['report'].dateSub|date("m/d/Y")}}</div>
		            	</div>  	
			      	</div>
		        </div>
	       	</div>
	</div>
</div>
{% endblock %}

