{% extends "layout.html.twig" %}


{% block body %}

	<h2 class="text-center" style="color:#9D151C; margin-top:110px; margin-bottom:38px;">They trusted Us</h2>

	<div class="card bg-transparent text-white border-0 align-item-center text-center" style = "margin-bottom:30px">

	    {% if entreprises|length != 0 %}
	    	{% if is_granted('ROLE_ADMIN') %}
			    {% for i in 0..entreprises|length-1 %}
			    	<div class="row d-flex justify-content-center">
					    <div class="card card-overlay bg-transparent border-0 shadow" style=" margin-bottom:20px; width:60%; padding:10px;">
					    	<div class="row align-items-center">
    							<div class="col">
					      		<img src="/Images/hackersphotos/{{ entreprises[i]['photo'] }}" height="100" alt="" class="rounded" style="margin-left:20px; margin-right:20px;" />
					      		</div>
							    <div class="col">
							    	<div class="card bg-white border-0 rounded-0 text-center">
							    		<h4 class="card-body">
					      					<a href="{{ url('entreprise_show', {'id' : entreprises[i]['id_entreprise']}) }}" style="color:#000000;">{{ entreprises[i]['name_ent'] }}</a>
				      					</h4>
				      				</div>
							    </div>
					      	</div>
					    </div>
		    		</div>
				{% endfor %}   
			{% else %}
				{% for i in 0..entreprises|length-1 %}
					{% if entreprises[i]['showAuth'] == "1" %}
				    	<div class="row d-flex justify-content-center">
						    <div class="card card-overlay bg-transparent border-0 shadow" style=" margin-bottom:20px; width:60%; padding:10px;">
						    	<div class="row align-items-center">
	    							<div class="col">
						      		<img src="/Images/hackersphotos/{{ entreprises[i]['photo'] }}" height="100" alt="" class="rounded" style="margin-left:20px; margin-right:20px;" />
						      		</div>
								    <div class="col">
								    	<div class="card bg-white border-0 rounded-0 text-center">
								    		<h4 class="card-body">
						      					<a href="{{ url('entreprise_show', {'id' : entreprises[i]['id_entreprise']}) }}" style="color:#000000;">{{ entreprises[i]['name_ent'] }}</a>
					      					</h4>
					      				</div>
								    </div>
						      	</div>
						    </div>
			    		</div>
				    {% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}

{% endblock %}
