{% extends "layout.html.twig" %}


{% block body %}
	
		<div class="card bg-transparent text-white border-0 align-item-center" style = "margin-top: 120px; margin-bottom:30px">

		    {% if ent_notifications|length != 0 %}
				    {% for i in 0..ent_notifications|length-1 %}
				    	{% if ent_notifications[i].typeNotif < 4 or ent_notifications[i].typeNotif == 9 or ent_notifications[i].typeNotif == 10 %}
						    <div class="row d-flex justify-content-center">
			        			<div class="card card-overlay bg-transparent border-0 shadow" style=" margin-bottom:20px; width:60%">

		        					<div class="row align-items-center">
		    							<div class="col-6">
									    	<div class="card bg-white border-0 rounded-0">
										      	<div class="card-body" style="color:black">
										      		{% if ent_notifications[i].typeNotif == 1 %}
										      			<a href="{{ url('hacker_show', {'id' : ent_notifications[i].idReport.idHacker.idHacker}) }}" style="color:#9D151C;">
										      				{{ ent_notifications[i].idReport.idHacker.username }} 
										      			</a>
										      			 has submitted a report for 
										      			<a href="{{ url('offer_show', {'id' : ent_notifications[i].idReport.idOffer.idOffer}) }}" style="color:#9D151C;">
										      				{{ ent_notifications[i].idReport.idOffer.title }}.
										      			</a>
										      		{% elseif ent_notifications[i].typeNotif  == 2 %}
										      			<a href="{{ url('hacker_show', {'id' : ent_notifications[i].idReport.idHacker.idHacker}) }}" style="color:#9D151C;">
										      				{{ ent_notifications[i].idReport.idHacker.username }} 
										      			</a>
										      			 has updated the report for 
										      			<a href="{{ url('offer_show', {'id' : ent_notifications[i].idReport.idOffer.idOffer}) }}" style="color:#9D151C;">
										      				{{ ent_notifications[i].idReport.idOffer.title}}. 
										      			</a>
									      			{% elseif ent_notifications[i].typeNotif  == 3 %}
										      			<a href="{{ url('hacker_show', {'id' : ent_notifications[i].idHacker.idHacker}) }}" style="color:#9D151C;">
										      				{{ ent_notifications[i].idHacker.username }} 
										      			</a>
										      			 wants to submit a report for
										      			<a href="{{ url('offer_show', {'id' : ent_notifications[i].idOffer.idOffer}) }}" style="color:#9D151C;">
										      				{{ ent_notifications[i].idOffer.title }}.
										      			</a>
									      			{% elseif ent_notifications[i].typeNotif  == 9 %}
										      			Congratulations ! Your
										      			<a href="{{ url('offer_show', {'id' : ent_notifications[i].idOffer.idOffer}) }}" style="color:#9D151C;">
										      				offer
										      			</a>
										      			has been accepted ! 
									      			{% elseif ent_notifications[i].typeNotif  == 10 %}
										      			We are sorry, we regret to inform you that your 
										      			<a href="{{ url('offer_show', {'id' : ent_notifications[i].idOffer.idOffer}) }}" style="color:#9D151C;">
										      				offer
										      			</a>
										      			will not be published. 
										      		{% endif %}
										      	</div>
										    </div>
									    </div>
									    {% if ent_notifications[i].typeNotif  == 1 or ent_notifications[i].typeNotif  == 2 %}
										    <div class="col">
										    	<div class="card bg-white border-0 rounded-0 text-center">
											      	<div class="card-body" style="color:black">
										      			<a href="{{url('report_show', {'id' : ent_notifications[i].idReport.idReport}) }}">
													      	<button type="button" class="btn btn-sm bg-white shadow">
												              	<div style="color:#9D151C; font-weight:bold;">View report</div>
												            </button>
											            </a>
											      	</div>
											    </div>
										    </div>
									    {% elseif ent_notifications[i].typeNotif  == 3 %}
										    	{% if ent_notifications[i].idPermit.state == 0 %}
												    <div class="col">
												    	<div class="card bg-white border-0 rounded-0 text-center">
													      	<div class="card-body" style="color:black">
												      			<a href="{{url('report_permit', {'id' : ent_notifications[i].idNotif}) }}">
															      	<button type="button" class="btn btn-sm bg-white shadow">
														              	<div style="color:#9D151C; font-weight:bold;">Accept the request</div>
														            </button>
													            </a>
													      	</div>
													    </div>
												    </div>	
												    <div class="col">
												    	<div class="card bg-white border-0 rounded-0 text-center">
													      	<div class="card-body" style="color:black">
												      			<a href="{{url('report_reject', {'id' : ent_notifications[i].idNotif}) }}">
															      	<button type="button" class="btn btn-sm bg-white shadow">
														              	<div style="color:#9D151C; font-weight:bold;">Reject the request</div>
														            </button>
													            </a>
													      	</div>
													    </div>
												    </div>	
											    {% endif %}
									    {% endif %}
									    <div class="col">
									    	<div class="card bg-white border-0 rounded-0 text-center">
										      	<div class="card-body" style="color:black">
										      		{% if ent_notifications[i].notifRead == 0 %}
										      			<a href="{{url('mark_as_read_ent', {'id' : ent_notifications[i].idNotif}) }}">
													      	<button type="button" class="btn btn-sm bg-white shadow">
												              	<div style="color:#9D151C; font-weight:bold;">Mark as read</div>
												            </button>
											            </a>
										      		{% elseif ent_notifications[i].notifRead == 1 %}
										      			<a href="{{url('mark_as_read_ent', {'id' : ent_notifications[i].idNotif}) }}">
													      	<button type="button" class="btn btn-sm bg-white shadow">
												              	<div style="color:#9D151C; font-weight:bold;">Mark as unread</div>
												            </button>
											            </a>
										      		{% endif %}
										      	</div>
										    </div>
									    </div>	
									    <div class="col">
									    	<div class="card bg-white border-0 rounded-0 text-center">
										      	<div class="card-body">
									      			<a href="{{url('del_notif_ent', {'id' : ent_notifications[i].idNotif}) }}">
										              	<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x-circle" style="margin-right:20px;" fill="#9D151C" xmlns="http://www.w3.org/2000/svg">
														  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
														  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
														  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
														</svg>
										            </a>
										      	</div>
										    </div>
									    </div>	

									</div>    	

								</div>
						   </div>
					   {% endif %}
					{% endfor %} 
			{% endif %}
		</div>
{% endblock %}