{% extends "layout.html.twig" %}


{% block body %}
 
        	
<div class="card border-0 bg-transparent" style="margin-top:80px">
	<div class="tab-content py-4 text-center">
    	<div class="card border-0 rounded-0 shadow" style="background-color:rgba(256, 256, 256, 0.5); width:100%;">
    		<div style="background-image: url('/Images/TitlePattern.jpg');">
	            <div class="card-body">
	            	<div class="row justify-content-center d-flex align-items-center">
				    	<div class="col-3">
					     	<h3 class="text-title text-white text-center">{{entreprise.nameEnt }}'s Profile</h3>
					    </div>
					</div>
	            </div>
	        </div>
      </div>
    </div>
    <div class="tab-content py-4">
    	<div class="card-overlay border-0 bg-white shadow mx-auto" style="width:60%;">
	        <div class="text-card text-center" style="margin-bottom:30px">
	        	<img src="/Images/hackersphotos/{{entreprise.photo }}" alt="" style = "width : 150px; margin-top:30px;">
	        </div>
	        <div class="row">                  
	            <div class=" mx-auto">
	              
	                <table class="table table-borderless">
	                    <tbody>
							<tr>
	                            <td>
	                                <strong style="float:left; padding-right:10px; color:#9D151C;">Name : </strong> <div style="float:right">{{entreprise.nameEnt }}</div>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td>
	                                <strong style="float:left; padding-right:10px; color:#9D151C;">Manager : </strong> <div style="float:right">{{ entreprise.name }}</div>
	                            </td>
	                        </tr>

	                        <tr>
	                            <td>
	                                <strong style="float:left; padding-right:10px; color:#9D151C;"g>Country : </strong> <div style="float:right">{{entreprise.country}}</div>
	                            </td>
	                        </tr>
							<tr>
	                            <td>
									<strong style="float:left; padding-right:10px; color:#9D151C;"> Phone Number : </strong> <div style="float:right">{{entreprise.num}}</div>
	                            </td>
	                        </tr>
								{% if entreprise.adress is not null %}
									<tr>
			                            <td>
											<strong style="float:left; padding-right:10px; color:#9D151C;"> Adress : </strong> <div style="float:right">{{entreprise.adress}}</div>
			                            </td>
			                        </tr>
			                    {% endif %}
			                    {% if entreprise.site is not null %}
									<tr>
			                            <td>
											<strong style="float:left; padding-right:10px; color:#9D151C;"> Website : </strong> 
											<a style="float:right; color:#000000;" href="{{entreprise.site}}">{{entreprise.site}}</a>
			                            </td>
			                        </tr>
			                    {% endif %}
	                    </tbody>
	                </table>

	                {% if is_granted('ROLE_ADMIN') %}
	                	<div class="text-center">
		                    <a href="{{url('entreprise_delete', {'id' : entreprise.idEntreprise }) }}">
		                        <button type="button" class="btn shadow-sm" style="background-color:rgba(217, 217, 217); height:40px; margin-bottom:10px">
		                            <h5 style="color:#9D151C;">Delete</h5>
		                        </button>
		                    </a>
		                </div>
		            {% endif %}
	                
	            </div>
	        </div>
       	</div>
    </div>
</div>

{% endblock %}


