<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{% block title %}Advise'Hack{% endblock %}</title>
  {% block stylesheets %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css"/>
	<style>
		
	</style>
  {% endblock %}
  {% block javascript %}
  	<script src="jquery-3.5.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
	<!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="script.js"></script>
        <script src="js/scripts.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  {% endblock %}
	
</head>

<body>
	<!- Navation Bar -!>
	<header>
		{% block header %}
			<nav class="navbar navbar-expand-sm navbar-light fixed-top shadow" style="background-color:#9D151C;" id="mainNav">
				<div class="container">
				    <a class="navbar-brand" href="{{ url('home_page')}}">
				      <img src="/Images/logo2.png" height="60" alt="" loading="lazy"/>
				    </a>
			     	<button class="navbar-toggler navbar-toggler-right bg-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="color:#9D151C">
			     		Menu
	                    <i class="fas fa-bars"></i>
	                </button>
				    <div class="collapse navbar-collapse" id="navbarResponsive">
				      <div class="navbar-nav">
				      	{% if app.user %}
					        <a class="nav-item nav-link text-white" href="{{ url('hackers')}}" style="margin-right:15px;">Hackers</a>
					        <a class="nav-item nav-link text-white" href="{{ url('entreprises') }}" style="margin-right:15px;">Entreprises</a>
					        <a class="nav-item nav-link text-white" href="{{ url('offers')}}" style="margin-right:15px;">Offers</a>
					    {% endif %}
						{% if app.user.num is defined %}
					        <a class="nav-item nav-link text-white" href="{{ url('offer_creation')}}" style="margin-right:15px;">New Offer</a>
					    {% endif %}
				        <a class="nav-item nav-link text-white" href="{{ url('blog')}}" style="margin-right:15px;">Blog</a>
				        <a class="nav-item nav-link text-white" href="#" style="margin-right:15px;">Contact</a>
						{% if app.user.idHacker is defined and app.user.idHacker == 4 %}
					        <a class="nav-item nav-link text-white" href="{{ url('messages')}}" style="margin-right:15px;">Messages</a>
						{% endif %}
				      </div>
				    </div>
				 {%if app.user %}
				 <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarResponsive">
				        <ul class="navbar-nav ml-auto">
				        	{% if is_granted('ROLE_ADMIN') %}
				        		{% if app.user.newNotif != 0 %}
				        			<li class="nav-item">
						                <a class="nav-item nav-link text-white" href="{{ url('notifications_admin') }}">
						                	<svg style="margin-top:4px;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
											  	<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
											</svg>
						            	</a>
						            </li>
				        		{% else %}
					            	<li class="nav-item">
						                <a class="nav-item nav-link text-white" href="{{ url('notifications_admin') }}">
						                	<svg style="margin-top:4px;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell" fill="white" xmlns="http://www.w3.org/2000/svg">
											  	<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
											  	<path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
											</svg>
						            	</a>
						            </li>
					            {% endif %}
				            {% else %}
					        	{% if app.user.nameEnt is defined and not is_granted('ROLE_ADMIN') %}
					        		{% if app.user.newNotif != 0 %}
					        			<li class="nav-item">
							                <a class="nav-item nav-link text-white" href="{{ url('my_notifications_ent', {'id' : app.user.idEntreprise}) }}">
							                	<svg style="margin-top:4px;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
												  	<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
												</svg>
							            	</a>
							            </li>
					        		{% else %}
						            	<li class="nav-item">
							                <a class="nav-item nav-link text-white" href="{{ url('my_notifications_ent', {'id' : app.user.idEntreprise}) }}">
							                	<svg style="margin-top:4px;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell" fill="white" xmlns="http://www.w3.org/2000/svg">
												  	<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
												  	<path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
												</svg>
							            	</a>
							            </li>
						            {% endif %}
					            {% elseif app.user.mark is defined and not is_granted('ROLE_ADMIN')%}
					        		{% if app.user.newNotif != 0 %}
					        			<li class="nav-item">
							                <a class="nav-item nav-link text-white" href="{{ url('my_notifications_ha', {'id' : app.user.idHacker}) }}">
							                	<svg style="margin-top:4px;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
												  	<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
												</svg>
							            	</a>
							            </li>
					        		{% else %}
						            	<li class="nav-item">
							                <a class="nav-item nav-link text-white" href="{{ url('my_notifications_ha', {'id' : app.user.idHacker}) }}">
							                	<svg style="margin-top:4px;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell" fill="white" xmlns="http://www.w3.org/2000/svg">
												  	<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
												  	<path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
												</svg>
							            	</a>
							            </li>
						            {% endif %}
					            {% endif %}
				            {% endif %}
				            <li class="nav-item">
				                <a class="nav-item nav-link text-white" href="{{ url('profile') }}">
				                	<button type="button" class="btn btn-outline-light">{{app.user.username}}</button>
				            	</a>
				            </li>
							<li class="nav-item">
				                <a class="nav-item nav-link text-white" href="{{ url('logout') }}">
				                	<button type="button" class="btn btn-outline-light">log out</button>
				            	</a>
				            </li>
				        </ul>
				    </div>
			    </div>
			</nav>
			{%else%}
			    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			        <ul class="navbar-nav ml-auto">
			            <li class="nav-item">
			                <a class="nav-item nav-link text-white" href="{{ url('registerHacker') }}">
			                	<button type="button" class="btn btn-outline-light">Sign Up</button>
			            	</a>
			            </li>
			            <li class="nav-item">
			                <a class="nav-item nav-link text-white" href="{{ url('sign_in') }}">
			                	<button type="button" class="btn btn-outline-light">Sign In</button>
			            	</a>
			            </li>
			        </ul>
			    </div>
			</nav>
			{% endif %}
		{% endblock %}
	</header>

	 

	   {% block body %}
	   {% endblock %}

	<button type="button" class="open-button" id="contact" style="position: -webkit-sticky; position: sticky; bottom: 1rem; align-self: flex-end; width: 150px; height: 50px; left: 85%; border-radius: 70%">
       Contact Us!
    </button>
    <div class="form-popup" id="myForm" >
      <form action="/action_page.php" class="form-container">
      	<div class="row justify-content-center">
        	<h3 class="text-secondary">Contact Us</h3>
    	</div>
		<div id="loginbox">
			<div class="row justify-content-center" style="margin-top:40px;">
        		<label for="pseudo" ><b class="text-secondary">Enter a username</b></label>
    		</div>
        	<div class="row justify-content-center">
        		<input type="text" placeholder="Enter pseudo" name="pseudo" id ="pseudo" style="width:80%;" required>
    		</div>
        	<div class="row justify-content-center">
        		<button id="loginChoose" class="btn btn-sm" style="background-color:rgba(217, 217, 217); width:50%;">
        			<h4 style="color:#9D151C">Next</h4>
    			</button>
    		</div>
		</div>
		
		<div class="msg-container" style="height:450px; overflow:auto;">
			<div class="msg-area" id="message-area"></div>
			<div class="bottom"><input type="text" name="msginput" class="msginput" id="message" onkeydown="if (event.keyCode == 13) sendMessage()" value="" placeholder="Enter your message here ... (Press enter to send message)"></div>
        </div>
        <div class="row justify-content-center">
			<button type="button" class="btn cancel" style="background-color:rgba(217, 217, 217); width:50%;">
				<b style="color:#9D151C">Close</b>
			</button>
		</div>
      </form>
    </div>
	
	<footer class="footer card bg-white border-0 shadow" style="position:relative; bottom:0px; width:100%;">
		{% block footer %}
			<p class="text-card text-secondary text-center" style="margin-bottom:0.2%; margin-top:0.1%;">
				&copy; Copyright {{ 'now'|date('Y') }}
				&middot; 
				<a href="#" style="color:#9D151C;">About Us</a>
			    &middot; 
			    <a href="#" style="color:#9D151C;">Contact Us</a>
			</p>
			<p class="text-card text-secondary text-center" style="margin-bottom:0.1%;">
				Find us on : 
				<a href="#">
					<img src="/Images/instagram.png" alt="" height="20" style="margin-left:0.8%; margin-right:0.8%; margin-bottom:0.2%;"/>
				</a>
				<a href="#">
					<img src="/Images/twitter.png" alt="" height="20" style="margin-bottom:0.2%; margin-right:0.8%;"/>
				</a>
				<a href="#">
					<img src="/Images/linkedin.png" alt="" height="20" style="margin-bottom:0.2%;"/>
				</a>
			</p>
		{% endblock %}
	</footer>

	<script>
	
		$(document).ready(function(){
			update();
		});

		$("#contact").click(function(){
			$(".form-popup").show();
			checkCookie();
		});

		function checkCookie()
		{
		if(document.cookie.indexOf("messengerUname")==-1)
		{
			chooseUserName();	
		}else{
			$("#loginbox").hide();
		}
		}


		function chooseUserName()
		{
		$("#loginbox").show();
		$("#messagebox").hide();
		$("#loginChoose").click(function(){
			event.preventDefault();
			var user = $("#pseudo").val();
			document.cookie = "messengerUname="+user+";SameSite=Strict";
			checkCookie();
		});
		}	

		function getcookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for(var i=0; i<ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0)==' ') c = c.substring(1);
			if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
		}
		return "";
		}

		function escapehtml(text) {
		return text
			.replace(/&/g, "&amp;")
			.replace(/</g, "&lt;")
			.replace(/>/g, "&gt;")
			.replace(/"/g, "&quot;")
			.replace(/'/g, "&#039;");
		}

		function sendMessage()
		{
		event.preventDefault();
		var message = $("#message").val();
		//alert(message);
		if (message != "") {
			var username = getcookie("messengerUname");

			var xmlhttp=new XMLHttpRequest();

			xmlhttp.onreadystatechange=function() {
				if (xmlhttp.readyState==4 && xmlhttp.status==200) {
					message = escapehtml(message)
					document.getElementById("messagebox").innerHTML += "<div class=\"msgc\" style=\"margin-bottom: 30px;\"> <div class=\"msg msgfrom\">" + message + "</div> <div class=\"msgarr msgarrfrom\"></div> <div class=\"msgsentby msgsentbyfrom\">Sent by " + username + "</div> </div>";
				}
			}
			xmlhttp.open("GET","/update_message?pseudo=" + username + "&message=" + message,true);
			xmlhttp.send();
			}
		$("#message").val("");
		}

		$("#sendMessage").click(function(){
		event.preventDefault();
		sendMessage();
		update();
		});

		function update()
		{
			var xmlhttp=new XMLHttpRequest();
		var username = getcookie("messengerUname");
		var output = "";
		xmlhttp.onreadystatechange=function() {
			if (xmlhttp.readyState==4 && xmlhttp.status==200) {
				var response = xmlhttp.responseText.split("\n")
				var rl = response.length
				var item = "";
				for (var i = 0; i < rl; i++) {
					item = response[i].split("\\")
					if (item[1] != undefined) {
						//console.log('item 0 : ', item);
						if (item[0] == username) {
							output += "<div class=\"msgc\" style=\"margin-bottom: 30px;\"> <div class=\"msg msgfrom\">" + item[1] + "</div> <div class=\"msgarr msgarrfrom\"></div> <div class=\"msgsentby msgsentbyfrom\">Sent by " + item[0] + "</div> </div>";
						} else {
							output += "<div class=\"msgc\"> <div class=\"msg\">" + item[1] + "</div> <div class=\"msgarr\"></div> <div class=\"msgsentby\">Sent by " + item[0] + "</div> </div>";
						}
					}
				}

				document.getElementById("message-area").innerHTML = output;
				document.getElementById("message-area").scrollTop = document.getElementById("message-area").scrollHeight;

			}
		}
			xmlhttp.open("GET","/get_message?username=" + username,true);
			xmlhttp.send();
		}

		$(".cancel").click(function(){
		$(".form-popup").hide();
		});

		setInterval(function(){ update(); }, 500);


	</script>
</body>

</html>