{% extends "layout.html.twig" %}

{% block body %}

    <div class="card bg-transparent border-0 align-item-center  text-center" style = "margin-top: 120px;">
        <div class="bs-example">
			<div class="accordion" id="accordionExample">
				{% if messages|length != 0 %}
        		    {% for i in 0..messages|length-1 %}
						<div class="card border-0">
							<div class="row d-flex justify-content-center">
							    <div class="card card-overlay bg-transparent border-0 rounded-0 shadow" style=" margin-bottom:20px; width:60%; padding:10px;">
							    	<div class="row align-items-center">
									    <div class="col">
									    	<div class="card bg-white border-0 rounded-0 text-center">
							      				<div class="card-header border-0 bg-transparent" id="#heading{{i}}">
													<h3>
														<a type="button border-0" data-toggle="collapse" data-target="#collapse{{i}}">
															{{ messages[i]['username'] }}
														</a>
													</h3>
												</div>
												<div id="collapse{{i}}" class="collapse" aria-labelledby="heading{{i}}" data-parent="#accordionExample">
													<div id="{{messages[i]['username']}}">
														{% for j in 0..messages[i]['messages']|length-1 %}
															<div class="msgc" style="margin-bottom: 30px;"> 
																<div class="msg">
																	{{messages[i]['messages'][j]}}
																</div>
															</div>
														{% endfor %}			
													</div>
													<div class="msgc" style="margin-bottom: 30px;"> 
														<div class="bottom"><input type="text" name="msginput" class="msginput" id="message_to_{{messages[i]['username']}}" onkeydown="if (event.keyCode == 13) sendResponseTo({{messages[i]['username']}});" value="" placeholder="Enter your message here ... (Press enter to send message)"></div>
													</div>
												</div>
											</div>
									    </div>
							      	</div>
							    </div>
				    		</div>
						</div>
					{% endfor %}
        		{% endif %}
			</div>
		</div>
    </div>

    <script>
    $(document).ready(function(){
		$("#messages").accordion();
    });



	function sendResponseTo(user)
	{
		var responseTo = user.id;
		var message = $("#message_to_"+user.id ).val();

		if (message != "") {

			var xmlhttp=new XMLHttpRequest();

			xmlhttp.onreadystatechange=function() {
				if (xmlhttp.readyState==4 && xmlhttp.status==200) {
					message = escapehtml(message)
				}
			}
		    xmlhttp.open("GET","/response?response_to=" + responseTo + "&message=" + message,true);
		    xmlhttp.send();
  		}
		$("#message_to_"+user.id).val("");
	}

    function updateMessages()
	{
	  	var xmlhttp=new XMLHttpRequest();
		var sender = "" ;
		var output = "";
		xmlhttp.onreadystatechange=function() {
			if (xmlhttp.readyState==4 && xmlhttp.status==200) {
				var response = xmlhttp.responseText.split("\n")
				var rl = response.length;
				var item = "";
				var outputs = {};
				for (var i = 0; i < rl; i++) {
					item = response[i].split("\\");
					if (item[1] != undefined) {
						if(item[2] == ""){
							outputs["\""+item[0]+"\""] += "<div class=\"msgc\" style=\"margin-bottom: 30px;\">"+item[1]+"</div>"; 
						}else{
							outputs["\""+item[2]+"\""] += "<div class=\"msgc\" style=\"margin-bottom: 30px;\"><b>"+item[1]+"</b></div>"; 
						}
					}
					if(item[2] == ""){
						$("#"+item[0]).html(outputs["\""+item[0]+"\""]);
					}else{
						$("#"+item[2]).html(outputs["\""+item[2]+"\""]);
					}
				}
			}
		}
	    xmlhttp.open("GET","/get_message?username=admin" ,true);
	    xmlhttp.send();
	}

	setInterval(function(){ updateMessages(); }, 500);

    </script>
{% endblock %}